Repository iov-one/ponferrada, pull requests merged in 2019-11, with the labels that each got.

#858 Fix #851 - Support Base64 Pubkeys
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/SetValidators.tsx
  packages/sil-governance/src/routes/dashboard/test/operateDashboard.ts
Labels: Sil Governance

#861 Feature – Update Ethereum scripts to initialize ERC20s
  scripts/ethereum/README.md
  scripts/ethereum/init.sh
  scripts/test_start.sh
Labels: merge when green

#862 Fix extension Manifest
  packages/sanes-browser-extension/config/manifest-production.json
Labels: Browser Extension, Fix

#868 Feature – Split staging/production deployment
  .travis.yml
  CHANGELOG.md
  packages/sanes-browser-extension/config/manifest-development.json
  packages/sanes-browser-extension/config/manifest-production.json
  packages/sanes-browser-extension/config/manifest-staging.json
  packages/sanes-browser-extension/scripts/set_manifest_version.sh
  scripts/travis.sh
Labels: merge when green

#860 Feature #857 - Erc20 tokens support
  CHANGELOG.md
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/logic/connection.ts
  packages/bierzo-wallet/src/store/tokens/index.unit.spec.ts
  packages/bierzo-wallet/src/utils/tokens.ts
  packages/sanes-browser-extension/config/development.json
  packages/sanes-browser-extension/config/staging.json
  packages/sanes-browser-extension/src/extension/background/model/persona/config/codec.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/utils/tokens.ts
Labels: Bierzo Wallet, Feature, merge when green

#870 Feature #865 - Connect Dancenet 💃
  CHANGELOG.md
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/sanes-browser-extension/config/staging.json
  packages/sil-governance/src/config/staging.json
Labels: Feature

#876 Fix #873 - Replace wrong Neuma logo on Header
  packages/bierzo-wallet/src/components/Header/assets/logoBlack.svg
  packages/bierzo-wallet/src/components/Header/assets/neumaWalletLogo.svg
  packages/bierzo-wallet/src/components/Header/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Fix

#881 Feature #877 - Add ClickawayListener for Tooltip component
  packages/medulas-react-components/src/components/Tooltip/index.tsx
Labels: Component, Feature

#883 Feature #880 - Copy to clipboard popup component
  packages/medulas-react-components/package.json
  packages/medulas-react-components/src/components/Block/index.tsx
  packages/medulas-react-components/src/components/PopupCopy/index.stories.tsx
  packages/medulas-react-components/src/components/PopupCopy/index.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/types/components/Block/index.d.ts
  packages/medulas-react-components/types/components/PopupCopy/index.d.ts
  packages/medulas-react-components/types/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Component, Frontend 😊

#887 Fix #872 - Login Billboard blinking
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/medulas-react-components/src/context/BillboardProvider/Billboard.tsx
  packages/medulas-react-components/src/context/BillboardProvider/index.stories.tsx
  packages/medulas-react-components/src/context/BillboardProvider/index.tsx
  packages/medulas-react-components/types/context/BillboardProvider/Billboard.d.ts
  packages/medulas-react-components/types/context/BillboardProvider/index.d.ts
Labels: Bierzo Wallet, Fix

#891 Fix #879 - Starname registration error message
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/logic/account.unit.spec.ts
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Fix

#890 Fix #878 - Disable send tokens input if empty balance
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/TextNote/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.stories.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/src/utils/forms/validators/index.ts
  packages/medulas-react-components/types/index.d.ts
  packages/medulas-react-components/types/utils/forms/validators/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Fix

#892 Fature #866 - Add DAI support
  CHANGELOG.md
  packages/bierzo-wallet/src/config/production.json
  packages/sanes-browser-extension/config/production.json
Labels: Bierzo Wallet, Browser Extension, Feature

#893 Feature #874 - Configurable Neuma extension link
  CHANGELOG.md
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/routes/login/index.tsx
Labels: Bierzo Wallet, Feature

#894 Fix - Popup copy wrong overflow
  packages/medulas-react-components/src/components/Block/index.tsx
  packages/medulas-react-components/src/components/PopupCopy/index.stories.tsx
  packages/medulas-react-components/src/components/PopupCopy/index.tsx
  packages/medulas-react-components/types/components/Block/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Component, Fix, merge when green
