Repository iov-one/ponferrada, pull requests merged in 2019-10, with the labels that each got.

#799 Feature #742 - Connect to requested networks only
  packages/bierzo-wallet/src/communication/requestgenerators.ts
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/logic/account.unit.spec.ts
  packages/bierzo-wallet/src/logic/balances.ts
  packages/bierzo-wallet/src/logic/balances.unit.spec.ts
  packages/bierzo-wallet/src/logic/codec.ts
  packages/bierzo-wallet/src/logic/codec.unit.spec.ts
  packages/bierzo-wallet/src/logic/connection.ts
  packages/bierzo-wallet/src/logic/connection.unit.spec.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/faucet.unit.spec.ts
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/logic/transactions/index.unit.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/balances/index.unit.spec.ts
  packages/bierzo-wallet/src/store/tokens/actions.ts
  packages/bierzo-wallet/src/store/tokens/index.unit.spec.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
  packages/bierzo-wallet/src/store/usernames/index.unit.spec.ts
  packages/bierzo-wallet/src/utils/test/connections.ts
Labels: Bierzo Wallet, Feature

#797 Fix – Handle login errors
  packages/bierzo-wallet/src/communication/ledgerRpcEndpoint.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
Labels: Bierzo Wallet

#800 Fix – Improve block explorers type
  packages/sanes-browser-extension/config/development.json
  packages/sanes-browser-extension/config/production.json
  packages/sanes-browser-extension/config/staging.json
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
Labels: Browser Extension

#802 Improve example transactions; deploy valdueza-storybook
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/logic/csvBuilder/index.stories.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwParser.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUnkownTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUnkownTransaction/ui/UnknownTxHeader/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUnkownTransaction/ui/UnknownTxRow/index.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/valdueza-storybook/README.md
  packages/valdueza-storybook/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  scripts/travis.sh
Labels: merge when green

#803 Fix – Standardize storybook paths
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/PageMenu/index.stories.tsx
  packages/bierzo-wallet/src/components/PageMenuColumn/index.stories.tsx
  packages/bierzo-wallet/src/logic/csvBuilder/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/login/index.stories.tsx
  packages/bierzo-wallet/src/routes/payment/index.stories.tsx
  packages/bierzo-wallet/src/routes/policy/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/terms/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/utils/storybook/index.tsx
  packages/medulas-react-components/src/components/Avatar/index.stories.tsx
  packages/medulas-react-components/src/components/Badge/index.stories.tsx
  packages/medulas-react-components/src/components/Button/index.stories.tsx
  packages/medulas-react-components/src/components/Drawer/index.stories.tsx
  packages/medulas-react-components/src/components/Hairline/index.stories.tsx
  packages/medulas-react-components/src/components/Image/index.stories.tsx
  packages/medulas-react-components/src/components/List/index.stories.tsx
  packages/medulas-react-components/src/components/PageLayout/index.stories.tsx
  packages/medulas-react-components/src/components/Switch/index.stories.tsx
  packages/medulas-react-components/src/components/TextMarkup/index.stories.tsx
  packages/medulas-react-components/src/components/Tooltip/index.stories.tsx
  packages/medulas-react-components/src/components/Typography/index.stories.tsx
  packages/medulas-react-components/src/components/forms/CheckboxField/index.stories.tsx
  packages/medulas-react-components/src/components/forms/Form/index.stories.tsx
  packages/medulas-react-components/src/components/forms/SelectField/index.stories.tsx
  packages/medulas-react-components/src/components/forms/TextField/index.stories.tsx
  packages/medulas-react-components/src/context/BillboardProvider/index.stories.tsx
  packages/medulas-react-components/src/context/ToastProvider/Toast/toast.stories.tsx
  packages/medulas-react-components/src/pages/PageColumn/index.stories.tsx
  packages/medulas-react-components/src/templates/menu/index.stories.tsx
  packages/medulas-react-components/src/utils/storybook/index.tsx
  packages/medulas-react-components/types/utils/storybook/index.d.ts
  packages/sanes-browser-extension/src/components/NeumaPageLayout.stories.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/delete-wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/recovery-words/index.stories.tsx
  packages/sanes-browser-extension/src/routes/requests/index.stories.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/share-identity/index.stories.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/index.stories.tsx
  packages/sanes-browser-extension/src/routes/tx-request/index.stories.tsx
  packages/sanes-browser-extension/src/routes/unlock/index.stories.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/welcome/index.stories.tsx
  packages/sanes-browser-extension/src/utils/storybook/index.tsx
  packages/sil-governance/src/components/BlockchainTime/index.stories.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/ReleaseGuaranteeFunds.stories.tsx
  packages/sil-governance/src/routes/dashboard/index.stories.tsx
  packages/sil-governance/src/routes/login/index.stories.tsx
  packages/sil-governance/src/utils/storybook/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: merge when green

#804 Fix #785 - Not stable E2E test
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
Labels: Bierzo Wallet, Fix

#806 Fix #776 - Changes BNS to IOV Name Service
  packages/sil-governance/src/communication/identities/index.ts
Labels: Frontend 😊, Sil Governance

#805 Feature #787 - Disallow Empty Recipients
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds/index.tsx
  packages/ui-logic/src/weave.spec.ts
  packages/ui-logic/src/weave.ts
Labels: Frontend 😊, Sil Governance

#807 Feature #607 - Show creator address
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgCreateProposalTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgRegisterUsernameTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgSendTransaction.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgVoteTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊, merge when green

#808 Feature - Material UI package upgrade
  packages/bierzo-wallet/package.json
  packages/medulas-react-components/package.json
  packages/medulas-react-components/src/components/Badge/index.tsx
  packages/medulas-react-components/types/components/Badge/index.d.ts
  packages/medulas-react-components/types/components/Button/Back.d.ts
  packages/sil-governance/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Frontend 😊

#798 Feature #773 - Electorate Members Page
  packages/sil-governance/src/components/Header/index.tsx
  packages/sil-governance/src/routes/index.tsx
  packages/sil-governance/src/routes/paths.ts
  packages/sil-governance/src/routes/show-electorate/components/ElectorateMembers.tsx
  packages/sil-governance/src/routes/show-electorate/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance

#810 Feature #789 - Login screen redesign
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/routes/login/assets/ledger.svg
  packages/bierzo-wallet/src/routes/login/assets/logoBlack.svg
  packages/bierzo-wallet/src/routes/login/assets/neuma.svg
  packages/bierzo-wallet/src/routes/login/components/PageColumn.tsx
  packages/bierzo-wallet/src/routes/login/components/SubtitleSection.tsx
  packages/bierzo-wallet/src/routes/login/components/TitleSection.tsx
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/medulas-react-components/src/components/Block/index.tsx
  packages/medulas-react-components/src/components/Button/index.stories.tsx
  packages/medulas-react-components/src/components/Button/index.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/src/pages/PageColumn/EmptyHeader.tsx
  packages/medulas-react-components/src/pages/PageColumn/SubtitleSection.tsx
  packages/medulas-react-components/src/pages/PageColumn/index.stories.tsx
  packages/medulas-react-components/src/pages/PageColumn/index.tsx
  packages/medulas-react-components/src/theme/assets/pageColumn/logoBlack.svg
  packages/medulas-react-components/src/theme/utils/mui.ts
  packages/medulas-react-components/src/theme/utils/variables.ts
  packages/medulas-react-components/types/components/Block/index.d.ts
  packages/medulas-react-components/types/components/Button/Back.d.ts
  packages/medulas-react-components/types/components/Button/index.d.ts
  packages/medulas-react-components/types/index.d.ts
  packages/medulas-react-components/types/pages/PageColumn/SubtitleSection.d.ts
  packages/medulas-react-components/types/pages/PageColumn/index.d.ts
  packages/medulas-react-components/types/theme/utils/variables.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#825 Feature #811 - Use MUI Table
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds/RecipientsTable.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds/components/MembersTable.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds/components/RecipientsMembers.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds/index.tsx
  packages/sil-governance/src/routes/show-electorate/components/ElectorateMembers.tsx
  packages/sil-governance/src/routes/show-electorate/components/MembersTable.tsx
Labels: Frontend 😊, Sil Governance

#824 Feature #812 - Generic Error Parser
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/ui-logic/src/error.spec.ts
  packages/ui-logic/src/error.ts
  packages/ui-logic/src/index.ts
  packages/ui-logic/src/weave.ts
  packages/ui-logic/types/error.d.ts
  packages/ui-logic/types/index.d.ts
Labels: Frontend 😊, Sil Governance

#827 Feature #790 - Neuma request billboard
  packages/bierzo-wallet/src/components/BillboardMessage/NeumaBillboardMessage.tsx
  packages/bierzo-wallet/src/components/BillboardMessage/assets/arrow-body.svg
  packages/bierzo-wallet/src/components/BillboardMessage/assets/arrow-head.svg
  packages/bierzo-wallet/src/components/BillboardMessage/assets/logo-zoom.svg
  packages/bierzo-wallet/src/components/BillboardMessage/assets/toolbar.png
  packages/bierzo-wallet/src/components/BillboardMessage/assets/zoom.png
  packages/bierzo-wallet/src/components/BillboardMessage/index.stories.tsx
  packages/bierzo-wallet/src/routes/login/components/PageColumn.tsx
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/medulas-react-components/src/context/BillboardProvider/Billboard.tsx
  packages/medulas-react-components/src/context/BillboardProvider/index.stories.tsx
  packages/medulas-react-components/src/context/BillboardProvider/index.tsx
  packages/medulas-react-components/types/context/BillboardProvider/Billboard.d.ts
  packages/medulas-react-components/types/context/BillboardProvider/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊, merge when green

#831 Feature #791 - Menu modifications
  packages/bierzo-wallet/src/components/Header/components/BellMenu/badgeCalculator.ts
  packages/bierzo-wallet/src/components/Header/components/BellMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/components/LinksMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#829 Feature #790 - Ledger extension billboard
  packages/bierzo-wallet/src/components/BillboardMessage/LedgerBillboardMessage.tsx
  packages/bierzo-wallet/src/components/BillboardMessage/assets/ledger.svg
  packages/bierzo-wallet/src/components/BillboardMessage/index.stories.tsx
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#826 Feature #813 - Dashboard DOM tests + Dummy data update
  packages/sil-governance/src/components/BlockchainTime/index.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/Description.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/SetValidators.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/ReadMore.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/index.tsx
  packages/sil-governance/src/routes/dashboard/index.dom.spec.ts
  packages/sil-governance/src/routes/dashboard/test/operateDashboard.ts
  packages/sil-governance/src/routes/dashboard/test/travelToDashboard.ts
  packages/sil-governance/src/store/proposals/dummyData.ts
  packages/sil-governance/src/utils/test/dom.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance

#836 Feature #816 - DOM tests for Show Electorate
  packages/sil-governance/src/routes/show-electorate/index.dom.spec.ts
  packages/sil-governance/src/routes/show-electorate/test/operateShowElectorate.ts
  packages/sil-governance/src/routes/show-electorate/test/travelToShowElectorate.ts
Labels: Frontend 😊, Sil Governance

#834 Feature #815 - Adds Proposals to Dashboard's Storybook
  packages/sil-governance/src/routes/dashboard/index.stories.tsx
  packages/sil-governance/src/store/index.ts
  packages/sil-governance/src/store/reducers.ts
  packages/sil-governance/src/utils/storybook/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance

#835 Feature #817 - Adds Storybook for Show Electorate view
  packages/sil-governance/src/routes/show-electorate/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance

#837 Feature #820 - Storybook for Create Proposal
  packages/sil-governance/src/routes/create-proposal/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance

#838 Feature #791 - Balance page modification
  packages/bierzo-wallet/src/components/Header/components/LinksMenu/index.tsx
  packages/bierzo-wallet/src/components/PageContent/index.tsx
  packages/bierzo-wallet/src/routes/addresses/test/travelToReceivePayment.ts
  packages/bierzo-wallet/src/routes/balance/assets/transactionReceive.svg
  packages/bierzo-wallet/src/routes/balance/assets/transactionSend.svg
  packages/bierzo-wallet/src/routes/balance/assets/wallet.svg
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/routes/payment/components/ConfirmPayment/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/payment/test/travelToPayment.ts
  packages/bierzo-wallet/src/routes/registerName/components/ConfirmRegistration.tsx
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/medulas-react-components/src/components/Typography/index.tsx
  packages/medulas-react-components/src/theme/utils/mui.ts
  packages/medulas-react-components/src/theme/utils/variables.ts
  packages/medulas-react-components/types/components/Typography/index.d.ts
  packages/medulas-react-components/types/theme/utils/variables.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#839 Feature #791 - Badge near "Transactions" menu item.
  packages/bierzo-wallet/src/components/Header/components/LinksMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/index.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/medulas-react-components/src/components/Badge/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#842 Several DOM Tests Fixes
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/create-proposal/index.dom.spec.ts
  packages/sil-governance/src/routes/create-proposal/index.tsx
  packages/sil-governance/src/routes/create-proposal/test/operateCreateProposal.ts
  packages/sil-governance/src/routes/create-proposal/test/travelToCreateProposal.ts
  packages/sil-governance/src/routes/dashboard/index.dom.spec.ts
  packages/sil-governance/src/routes/dashboard/index.tsx
  packages/sil-governance/src/routes/show-electorate/index.dom.spec.ts
  packages/sil-governance/src/routes/show-electorate/index.tsx
Labels: Frontend 😊, Sil Governance

#841 Feature #814 - Dashboard Test E2E
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-governance/src/routes/dashboard/index.e2e.spec.ts
  packages/sil-governance/src/routes/dashboard/test/operateDashboard.ts
  packages/sil-governance/src/utils/test/persona.ts
  scripts/bnsd/init.sh
Labels: Frontend 😊, Sil Governance

#840 Feature #792 - Personalized address registration view update
  packages/bierzo-wallet/src/communication/requestgenerators.ts
  packages/bierzo-wallet/src/components/AddressesTable/index.tsx
  packages/bierzo-wallet/src/routes/registerName/assets/shield.svg
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/types/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#845 Feature #793 - Modify addresses screen
  packages/bierzo-wallet/src/components/AddressesTable/index.tsx
  packages/bierzo-wallet/src/routes/addresses/components/UserAddresses.tsx
  packages/bierzo-wallet/src/routes/addresses/components/index.tsx
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#844 Feature #843 - Rename IOV Wallet -> Neuma Wallet
  packages/bierzo-wallet/public/index.html
  packages/bierzo-wallet/src/routes/login/assets/neumaWalletLogo.svg
  packages/bierzo-wallet/src/routes/login/components/PageColumn.tsx
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/sil-governance/src/routes/login/index.e2e.spec.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#846 Feature #793 - Add tab switch
  packages/bierzo-wallet/src/routes/addresses/components/AddressesTab.tsx
  packages/bierzo-wallet/src/routes/addresses/components/UserAddresses.tsx
  packages/bierzo-wallet/src/routes/addresses/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/bierzo-wallet/src/routes/addresses/test/travelToReceivePayment.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#854 Feature #853 - Manifest update
  packages/sanes-browser-extension/config/manifest-production.json
  packages/sanes-browser-extension/config/manifest-staging.json
Labels: Browser Extension, Feature

#852 Feature #794 - Transactions Screen Modifications
  packages/bierzo-wallet/src/assets/copy.svg
  packages/bierzo-wallet/src/assets/tick.svg
  packages/bierzo-wallet/src/logic/csvBuilder/index.stories.tsx
  packages/bierzo-wallet/src/logic/csvBuilder/index.ts
  packages/bierzo-wallet/src/logic/csvBuilder/index.unit.spec.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParser.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/TransactionRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/TransactionRow/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/assets/dropdownArrow.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/assets/dropdownArrowClose.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/assets/user.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/assets/dropdownArrow.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/assets/dropdownArrowClose.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/assets/user.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwUnkownTransaction/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/routes/payment/components/ConfirmPayment/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/TextNote/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/payment/test/travelToPayment.ts
  packages/bierzo-wallet/src/routes/registerName/components/ConfirmRegistration.tsx
  packages/bierzo-wallet/src/routes/transactions/assets/toAddressWhite.svg
  packages/bierzo-wallet/src/routes/transactions/components/SendTokens/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/TxTableHeader/utils/TxSortableColumn.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/rowTxBuilder.ts
  packages/bierzo-wallet/src/routes/transactions/components/index.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/ui-logic/src/index.ts
  packages/ui-logic/src/strings.spec.ts
  packages/ui-logic/src/strings.ts
  packages/ui-logic/types/index.d.ts
  packages/ui-logic/types/strings.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊
