Repository iov-one/ponferrada, pull requests merged in 2019-06, with the labels that each got.

#243 Feature #235 - Fix height issues with PageLayout
  packages/medulas-react-components/src/components/PageLayout/index.tsx
  packages/sanes-chrome-extension/public/index.html
  packages/sanes-chrome-extension/src/routes/account/index.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/components/RejectRequest.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/components/ShowRequest.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest.tsx
Labels: Feature

#244 Feature - Update libraries
  package.json
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/routes/welcome/index.e2e.spec.ts
  packages/bierzo-wallet/src/utils/test/e2e.ts
  packages/medulas-react-components/package.json
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/routes/account/index.e2e.spec.ts
  packages/valdueza-storybook/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: merge when green

#259 Fix - Makes the Mnemonic field "Required" in Restore Account view
  packages/sanes-chrome-extension/src/routes/restore-account/components/SetMnemonicForm.tsx
  packages/sanes-chrome-extension/src/routes/restore-account/index.dom.spec.ts
Labels: Fix

#261 Feature - Show creator when signing tx
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.requests.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/requestQueueManager/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/test/requestBuilder.ts
  packages/sanes-chrome-extension/src/routes/requests/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/share-identity/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/Req.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/index.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, merge when green

#262 Feature – Deploy to Chrome Web Store
  packages/bierzo-wallet/package.json
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/public/manifest.json
  packages/sanes-chrome-extension/scripts/remove_key.sh
  packages/sanes-chrome-extension/scripts/set_manifest_version.sh
  scripts/travis.sh
Labels: WIP

#271 Feature - Tx id available, improved design of account view
  packages/medulas-react-components/src/components/Link/index.tsx
  packages/medulas-react-components/src/components/Typography/index.stories.tsx
  packages/medulas-react-components/src/components/Typography/index.tsx
  packages/medulas-react-components/src/utils/storybook/index.tsx
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/context/PersonaProvider.tsx
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/routes/account/components/ListTxs.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgError.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgSuccess.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/index.tsx
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/account/index.stories.tsx
  packages/sanes-chrome-extension/src/theme/globalStyles.ts
  packages/sanes-chrome-extension/src/utils/chrome/index.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: merge when green

#274 Feature #246 redirect to block explorers
  packages/sanes-chrome-extension/config/development.json
  packages/sanes-chrome-extension/config/production.json
  packages/sanes-chrome-extension/config/staging.json
  packages/sanes-chrome-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgSuccess.tsx
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
Labels: merge when green

#295 Feature #260 - Missing tests for welcome route
  packages/sanes-chrome-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-chrome-extension/src/routes/account/test/drawer.ts
  packages/sanes-chrome-extension/src/routes/welcome/index.dom.spec.ts
  packages/sanes-chrome-extension/src/utils/test/dom.tsx
  packages/sanes-chrome-extension/src/utils/test/navigation.ts
Labels: Chrome Extension

#272 Feature - Enhance bierzo wallet store configuration.
  package.json
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/communication/status/index.ts
  packages/bierzo-wallet/src/index.tsx
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/welcome/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/welcome/index.tsx
  packages/bierzo-wallet/src/routes/welcome/test/travelToWelcome.ts
  packages/bierzo-wallet/src/store/index.ts
  packages/bierzo-wallet/src/store/reducers/extension/actions.ts
  packages/bierzo-wallet/src/store/reducers/extension/index.ts
  packages/bierzo-wallet/src/store/reducers/extension/reducer.ts
  packages/bierzo-wallet/src/store/reducers/index.ts
  packages/bierzo-wallet/src/utils/storybook/index.tsx
  packages/bierzo-wallet/src/utils/test/dom.tsx
  packages/bierzo-wallet/src/utils/test/navigation.ts
  packages/sanes-chrome-extension/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet

#290 Feature #260 - Missing tests for requests route
  packages/sanes-chrome-extension/src/routes/requests/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/requests/test/operateRequests.ts
  packages/sanes-chrome-extension/src/routes/requests/test/travelToRequests.ts
Labels: Chrome Extension, merge when green

#294 Feature #260 - Missing tests for tx-request route
  packages/sanes-chrome-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/test/travelToTXRequest.ts
Labels: Chrome Extension, merge when green

#292 Feature #260 - Missing tests for share-identity route
  packages/sanes-chrome-extension/src/routes/share-identity/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/share-identity/test/travelToShareIdentity.ts
Labels: Chrome Extension, merge when green

#293 Feature #260 - Missing tests for signup route
  packages/sanes-chrome-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-chrome-extension/src/routes/account/test/travelToAccount.ts
  packages/sanes-chrome-extension/src/routes/login/index.e2e.spec.ts
  packages/sanes-chrome-extension/src/routes/recovery-phrase/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/signup/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/signup/index.e2e.spec.ts
  packages/sanes-chrome-extension/src/routes/signup/test/fillSignupForm.ts
  packages/sanes-chrome-extension/src/routes/signup/test/operateSignup.ts
  packages/sanes-chrome-extension/src/routes/signup/test/travelToSignup.ts
  packages/sanes-chrome-extension/src/setupTests.js
  packages/sanes-chrome-extension/src/utils/test/dom.tsx
Labels: Chrome Extension, merge when green

#289 Feature #260 - Missing tests for recovery-phrase route
  packages/sanes-chrome-extension/src/routes/recovery-phrase/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/recovery-phrase/test/operateRecoveryPhrase.ts
  packages/sanes-chrome-extension/src/routes/recovery-phrase/test/travelToRecoveryPhrase.ts
Labels: Chrome Extension

#288 Feature #260 - Missing tests for login route
  packages/sanes-chrome-extension/src/routes/login/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/login/index.e2e.spec.ts
  packages/sanes-chrome-extension/src/routes/login/test/operateLogin.ts
  packages/sanes-chrome-extension/src/routes/login/test/submitLoginForm.ts
  packages/sanes-chrome-extension/src/routes/login/test/travelToLogin.ts
Labels: Chrome Extension, merge when green

#291 Feature #260 - Missing tests for restore-account route
  packages/sanes-chrome-extension/src/routes/account/index.e2e.spec.ts
  packages/sanes-chrome-extension/src/routes/restore-account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/restore-account/index.e2e.spec.ts
  packages/sanes-chrome-extension/src/routes/restore-account/test/fillRecoveryPhrase.ts
  packages/sanes-chrome-extension/src/routes/restore-account/test/operateRestoreAccount.ts
  packages/sanes-chrome-extension/src/routes/restore-account/test/travelToRestoreAccount.ts
Labels: Chrome Extension, merge when green

#287 Feature #260 - Missing tests for account route
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/account/test/operateAccount.ts
  packages/sanes-chrome-extension/src/routes/account/test/travelToAccount.ts
Labels: Chrome Extension, merge when green

#311 Feature #306 - Create sil-voting-app
  package.json
  packages/sil-voting-app/.eslintrc.js
  packages/sil-voting-app/.gitignore
  packages/sil-voting-app/README.md
  packages/sil-voting-app/package.json
  packages/sil-voting-app/public/favicon.ico
  packages/sil-voting-app/public/index.html
  packages/sil-voting-app/public/manifest.json
  packages/sil-voting-app/src/index.tsx
  packages/sil-voting-app/src/react-app-env.d.ts
  packages/sil-voting-app/src/theme/globalStyles.ts
  packages/sil-voting-app/tsconfig.json
  yarn.lock
Labels: Voter Dashboard

#313 Feature #307 - Adds support for HMR and Redux
  packages/sil-voting-app/src/index.tsx
  packages/sil-voting-app/src/routes/index.tsx
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/sil-voting-app/src/routes/paths.ts
Labels: Feature, Voter Dashboard

#312 Feature #286 - Migrate PageColumn component
  packages/medulas-react-components/src/components/Block/index.tsx
  packages/medulas-react-components/src/components/BoxScroll/index.tsx
  packages/medulas-react-components/src/components/Button/index.stories.tsx
  packages/medulas-react-components/src/components/Button/index.tsx
  packages/medulas-react-components/src/components/Grid/index.tsx
  packages/medulas-react-components/src/components/GridItem/index.tsx
  packages/medulas-react-components/src/components/Hairline/index.tsx
  packages/medulas-react-components/src/components/forms/Form/index.tsx
  packages/medulas-react-components/src/pages/PageColumn/EmptyHeader.tsx
  packages/medulas-react-components/src/pages/PageColumn/SubtitleSection.tsx
  packages/medulas-react-components/src/pages/PageColumn/TitleSection.tsx
  packages/medulas-react-components/src/pages/PageColumn/index.stories.tsx
  packages/medulas-react-components/src/pages/PageColumn/index.tsx
  packages/medulas-react-components/src/pages/assets/People.svg
  packages/medulas-react-components/src/pages/assets/logo.svg
  packages/medulas-react-components/src/pages/assets/logoBlack.svg
  packages/medulas-react-components/src/theme/utils/mui.ts
  packages/medulas-react-components/src/utils/storybook/index.tsx
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/account/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet, Migration

#316 Feature #308 - Implement basic Login Layout
  packages/sil-voting-app/src/routes/login/assets/iov-logo.svg
  packages/sil-voting-app/src/routes/login/index.tsx
Labels: Frontend 😊, Voter Dashboard, merge when green

#322 Feature - Check TS errors when linting
  packages/bierzo-wallet/package.json
  packages/medulas-react-components/package.json
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/extension/background/updaters/appUpdater.ts
  packages/sanes-chrome-extension/src/routes/account/components/Empty.tsx
  packages/sanes-chrome-extension/src/routes/requests/components/RequestList.tsx
  packages/sanes-chrome-extension/src/routes/requests/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/requests/index.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.tsx
  packages/sanes-chrome-extension/tsconfig.json
  packages/sil-voting-app/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  scripts/travis.sh
Labels: Frontend 😊

#323 Feature - Remove test check when pushing a PR
  package.json
Labels: Frontend 😊

#317 Feature #309 - Add styling to Login page
  packages/sil-voting-app/src/index.tsx
  packages/sil-voting-app/src/routes/login/index.stories.tsx
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature, Frontend 😊, Voter Dashboard

#324 Feature - Login route
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/login/components/WelcomeMessage.tsx
  packages/bierzo-wallet/src/routes/login/index.stories.tsx
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/welcome/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/welcome/test/travelToWelcome.ts
  packages/medulas-react-components/src/components/Image/index.stories.tsx
  packages/medulas-react-components/src/pages/PageColumn/SubtitleSection.tsx
  packages/medulas-react-components/src/pages/PageColumn/TitleSection.tsx
  packages/medulas-react-components/src/pages/PageColumn/index.stories.tsx
  packages/medulas-react-components/src/pages/PageColumn/index.tsx
  packages/medulas-react-components/src/theme/assets/iov-logo2x.png
  packages/medulas-react-components/src/theme/assets/pageColumn/People.svg
  packages/medulas-react-components/src/theme/assets/pageColumn/logo.svg
  packages/medulas-react-components/src/theme/assets/pageColumn/logoBlack.svg
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊, merge when green

#325 Fix - Account status empty box
  packages/sanes-chrome-extension/src/routes/account/components/Empty.tsx
  packages/sanes-chrome-extension/src/routes/account/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, merge when green

#273 Feature #314 - Login logic route
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/communication/status/index.ts
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/login/components/WelcomeMessage.tsx
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/welcome/index.tsx
  packages/bierzo-wallet/src/routes/welcome/test/travelToWelcome.ts
  packages/bierzo-wallet/src/utils/test/navigation.ts
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊, merge when green

#327 Feature - Adding e2e tests for login use cases
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/welcome/test/travelToWelcome.ts
  packages/bierzo-wallet/src/utils/test/e2e.ts
  packages/bierzo-wallet/src/utils/test/persona.ts
Labels: Bierzo Wallet

#328 Feature #318 - Login testing
  packages/sil-voting-app/.eslintrc.js
  packages/sil-voting-app/package.json
  packages/sil-voting-app/src/routes/dashboard/test/travelToDashboard.ts
  packages/sil-voting-app/src/routes/login/index.e2e.spec.ts
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/sil-voting-app/src/utils/test/dom.tsx
  packages/sil-voting-app/src/utils/test/e2e.ts
  packages/sil-voting-app/src/utils/test/navigation.ts
  packages/sil-voting-app/src/utils/test/persona.ts
  packages/sil-voting-app/src/utils/test/testExecutor.ts
  packages/sil-voting-app/src/utils/timer.ts
Labels: Feature, Frontend 😊, Voter Dashboard

#298 Welcome route ::: Header #285 - Migrate badge icon
  packages/medulas-react-components/src/components/Badge/assets/check.svg
  packages/medulas-react-components/src/components/Badge/index.stories.tsx
  packages/medulas-react-components/src/components/Badge/index.tsx
  packages/medulas-react-components/src/theme/assets/badgeIcon/recoveryPhrase.svg
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#299 Feature #285 - Migrate notifications reducer
  packages/bierzo-wallet/src/communication/status/index.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/welcome/index.tsx
  packages/bierzo-wallet/src/store/extension/actions.ts
  packages/bierzo-wallet/src/store/extension/index.ts
  packages/bierzo-wallet/src/store/extension/reducer.ts
  packages/bierzo-wallet/src/store/index.ts
  packages/bierzo-wallet/src/store/notifications/actions.ts
  packages/bierzo-wallet/src/store/notifications/index.ts
  packages/bierzo-wallet/src/store/notifications/reducer.ts
  packages/bierzo-wallet/src/store/reducers.ts
Labels: Bierzo Wallet, Migration

#300 Welcome route ::: Header #285 - Migrate menu templates
  packages/medulas-react-components/src/components/Tooltip/index.tsx
  packages/medulas-react-components/src/components/forms/SelectFieldForm/index.tsx
  packages/medulas-react-components/src/hooks/open.ts
  packages/medulas-react-components/src/templates/menu/EmptyListIcon.tsx
  packages/medulas-react-components/src/templates/menu/ListMenu.tsx
  packages/medulas-react-components/src/templates/menu/index.stories.tsx
  packages/medulas-react-components/src/theme/assets/icons/noPendingTxs.svg
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Migration, merge when green

#301 Feature #285 - Migrate Header component
  package.json
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/components/Header/assets/PhoneMenu.svg
  packages/bierzo-wallet/src/components/Header/assets/PhoneMenuGreen.svg
  packages/bierzo-wallet/src/components/Header/assets/bell.svg
  packages/bierzo-wallet/src/components/Header/assets/bellGreen.svg
  packages/bierzo-wallet/src/components/Header/assets/chevronDown.svg
  packages/bierzo-wallet/src/components/Header/assets/chevronUp.svg
  packages/bierzo-wallet/src/components/Header/assets/invite.svg
  packages/bierzo-wallet/src/components/Header/assets/loading.svg
  packages/bierzo-wallet/src/components/Header/assets/loadingSpin.svg
  packages/bierzo-wallet/src/components/Header/assets/logoBlack.svg
  packages/bierzo-wallet/src/components/Header/assets/logout.svg
  packages/bierzo-wallet/src/components/Header/assets/noPendingTxs.svg
  packages/bierzo-wallet/src/components/Header/assets/privacyPolicy.svg
  packages/bierzo-wallet/src/components/Header/assets/securityCentre.svg
  packages/bierzo-wallet/src/components/Header/assets/terms.svg
  packages/bierzo-wallet/src/components/Header/assets/transactionError.svg
  packages/bierzo-wallet/src/components/Header/assets/transactionReceive.svg
  packages/bierzo-wallet/src/components/Header/assets/transactionSend.svg
  packages/bierzo-wallet/src/components/Header/assets/uptodate.svg
  packages/bierzo-wallet/src/components/Header/components/BellMenu/TxItem/MsgError.tsx
  packages/bierzo-wallet/src/components/Header/components/BellMenu/TxItem/MsgSuccess.tsx
  packages/bierzo-wallet/src/components/Header/components/BellMenu/TxItem/index.tsx
  packages/bierzo-wallet/src/components/Header/components/BellMenu/badgeCalculator.ts
  packages/bierzo-wallet/src/components/Header/components/BellMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/components/HiMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/components/LinksMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/components/TransactionsMenu/GotIt.tsx
  packages/bierzo-wallet/src/components/Header/components/TransactionsMenu/TransactionsList.tsx
  packages/bierzo-wallet/src/components/Header/components/TransactionsMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/Header/index.tsx
  packages/bierzo-wallet/src/components/Header/selector.ts
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/store/index.ts
  packages/bierzo-wallet/src/store/notifications/selectors.ts
  packages/bierzo-wallet/src/theme/css.ts
  packages/bierzo-wallet/src/utils/balances.spec.ts
  packages/bierzo-wallet/src/utils/balances.ts
  packages/bierzo-wallet/src/utils/localstorage/transactions.ts
  packages/bierzo-wallet/src/utils/storybook/index.tsx
  packages/bierzo-wallet/src/utils/strings.ts
  packages/medulas-react-components/src/components/Badge/index.tsx
  packages/medulas-react-components/src/theme/assets/badgeIcon/check.svg
  packages/sanes-chrome-extension/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet, Migration

#331 Feature #319 - Dashboard Header
  packages/sil-voting-app/src/assets/iov-logo.svg
  packages/sil-voting-app/src/components/Header.tsx
  packages/sil-voting-app/src/routes/dashboard/index.tsx
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature, Frontend 😊, Voter Dashboard
