Repository iov-one/ponferrada, pull requests merged in 2019-07, with the labels that each got.

#332 Feature #321 - Dashboard main view
  packages/sil-voting-app/src/routes/dashboard/components/AsideFilter.tsx
  packages/sil-voting-app/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-voting-app/src/routes/dashboard/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature, Frontend 😊, Voter Dashboard

#350 Feature – Add support for register username transactions
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/medulas-react-components/src/theme/MedulasThemeProvider.tsx
  packages/medulas-react-components/src/utils/singleton.ts
  packages/sanes-chrome-extension/src/extension/background/model/backgroundscript/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/requestQueueManager/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/test/requestBuilder.ts
  packages/sanes-chrome-extension/src/extension/background/updaters/appUpdater.ts
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgRegisterUsernameTx.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgSendTransaction.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgSendTransactionError.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgSendTransactionSuccess.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/index.tsx
  packages/sanes-chrome-extension/src/routes/recovery-phrase/utils/pdfGenerator.ts
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqRegisterUsernameTx.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/index.tsx
  packages/sanes-chrome-extension/src/utils/singleton.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: merge when green

#348 Feature #342 - Add T&C links
  packages/sanes-chrome-extension/src/routes/account/assets/requests.svg
  packages/sanes-chrome-extension/src/routes/account/assets/terms.svg
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/account/index.tsx
  packages/sanes-chrome-extension/src/routes/account/test/drawer.ts
Labels: Chrome Extension, Feature

#334 Feature - Integrate header in payments
  packages/bierzo-wallet/src/components/Header/components/LinksMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/Header/index.tsx
  packages/bierzo-wallet/src/components/RequireLogin/index.tsx
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/welcome/index.dom.spec.ts
  packages/bierzo-wallet/src/store/extension/reducer.ts
  packages/bierzo-wallet/src/theme/globalStyles.ts
  packages/medulas-react-components/src/pages/PageColumn/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#354 Feature #353 - Add T&C to the extension signup process
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/medulas-react-components/src/components/forms/CheckboxField/index.stories.tsx
  packages/medulas-react-components/src/components/forms/CheckboxField/index.tsx
  packages/medulas-react-components/src/components/forms/TextFieldForm/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/account/index.tsx
  packages/sanes-chrome-extension/src/routes/paths.ts
  packages/sanes-chrome-extension/src/routes/requests/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/signup/components/NewAccountForm.tsx
  packages/sanes-chrome-extension/src/routes/signup/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/signup/test/operateSignup.ts
  packages/sil-voting-app/src/utils/test/persona.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Chrome Extension, Feature, Frontend 😊

#358 Feature #336 Introduce tokens in store
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/store/extension/actions.ts
  packages/bierzo-wallet/src/store/extension/reducer.ts
  packages/bierzo-wallet/src/store/reducers.ts
  packages/bierzo-wallet/src/store/tokens/actions.ts
  packages/bierzo-wallet/src/store/tokens/index.ts
  packages/bierzo-wallet/src/store/tokens/index.unit.spec.ts
  packages/bierzo-wallet/src/store/tokens/reducer.ts
Labels: Bierzo Wallet, Frontend 😊

#360 Feature #349 - Username registration request component
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqRegisterUsernameTx.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqSendTransaction.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/TransactionFee.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/test/index.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Chrome Extension, Feature, Frontend 😊

#361 Feature #344 - Username registration request transaction component
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgRegisterUsernameTx.tsx
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/account/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/account/test/operateAccount.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Chrome Extension, Component, merge when green

#359 Feature - Add chains config
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/logic/connection.ts
  packages/bierzo-wallet/src/logic/connection.unit.spec.ts
  packages/bierzo-wallet/src/store/tokens/actions.ts
  packages/bierzo-wallet/src/store/tokens/index.unit.spec.ts
Labels: Bierzo Wallet, Frontend 😊, merge when green

#363 Feature #336 save tokens in redux store
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/store/extension/actions.ts
  packages/bierzo-wallet/src/store/extension/reducer.ts
  packages/bierzo-wallet/src/store/tokens/actions.ts
  packages/bierzo-wallet/src/store/tokens/reducer.ts
Labels: Bierzo Wallet, Frontend 😊, merge when green

#364 Feature #336 Redux tokens in bierzo-wallet
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/store/extension/actions.ts
  packages/bierzo-wallet/src/store/extension/reducer.ts
  packages/bierzo-wallet/src/store/tokens/actions.ts
  packages/bierzo-wallet/src/store/tokens/reducer.ts
Labels: Bierzo Wallet, Frontend 😊, merge when green

#367 Feature – Show gas price in TransactionFee component
  packages/medulas-react-components/src/components/Button/index.tsx
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.requests.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/requestCallback.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/requestQueueManager/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/requestQueueManager/index.unit.spec.ts
  packages/sanes-chrome-extension/src/routes/requests/components/RequestList.tsx
  packages/sanes-chrome-extension/src/routes/requests/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/requests/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/components/ShowRequest.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/share-identity/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/index.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqRegisterUsernameTx.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqSendTransaction.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/TransactionFee.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/test/index.ts
  packages/sanes-chrome-extension/src/utils/balances/index.ts
  packages/sanes-chrome-extension/src/utils/balances/index.unit.spec.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension

#368 Feature #337 Include pubkey in redux store
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/communication/status/index.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/welcome/index.tsx
  packages/bierzo-wallet/src/store/extension/actions.ts
  packages/bierzo-wallet/src/store/extension/reducer.ts
Labels: Bierzo Wallet, Frontend 😊

#366 Feature #276 - Migrate PageMenu component
  .vscode/settings.json
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/components/PageMenu/index.stories.tsx
  packages/bierzo-wallet/src/components/PageMenu/index.tsx
  packages/bierzo-wallet/src/index.tsx
  packages/bierzo-wallet/src/theme/globalStyles.ts
  packages/medulas-react-components/package.json
  packages/medulas-react-components/src/components/Badge/index.tsx
  packages/medulas-react-components/src/errors/ErrorBoundary.tsx
  packages/medulas-react-components/src/theme/utils/mui.ts
  packages/medulas-react-components/src/theme/utils/variables.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet, Component

#365 Feature #337 Introduce balances in store
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/balances/index.ts
  packages/bierzo-wallet/src/store/balances/index.unit.spec.ts
  packages/bierzo-wallet/src/store/balances/reducer.ts
  packages/bierzo-wallet/src/store/reducers.ts
Labels: Bierzo Wallet, Frontend 😊

#333 Feature #320 - Dashboard Proposal List
  packages/sil-voting-app/src/assets/delete.svg
  packages/sil-voting-app/src/routes/dashboard/components/AsideFilter.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/CreationData.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/Description.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/StatusEnded.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/StatusPending.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/Title.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/VoteActions.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-voting-app/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-voting-app/src/routes/dashboard/utils/test/randomProposal.ts
  packages/sil-voting-app/src/theme/css.ts
  packages/sil-voting-app/src/utils/strings.ts
  packages/valdueza-storybook/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature, Frontend 😊, Voter Dashboard

#374 Feature - store Amount in balances
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/balances/index.unit.spec.ts
  packages/bierzo-wallet/src/store/balances/reducer.ts
Labels: Bierzo Wallet, Frontend 😊

#371 Feature #276 - Migrate balance page layout component
  packages/bierzo-wallet/src/routes/balance/assets/transactionReceive.svg
  packages/bierzo-wallet/src/routes/balance/assets/transactionSend.svg
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/medulas-react-components/src/components/Block/index.tsx
  packages/medulas-react-components/src/theme/utils/mui.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#377 Use es6 style imports for config
  packages/bierzo-wallet/src/config/index.ts
Labels: Bierzo Wallet

#373 Fix #369 load config at runtime
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/config/index.ts
Labels: Bierzo Wallet, Frontend 😊, merge when green

#375 Feature #338 Redux chain usernames
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/logic/connection.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/store/balances/index.unit.spec.ts
  packages/bierzo-wallet/src/store/reducers.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
  packages/bierzo-wallet/src/store/usernames/index.ts
  packages/bierzo-wallet/src/store/usernames/index.unit.spec.ts
  packages/bierzo-wallet/src/store/usernames/reducer.ts
Labels: Bierzo Wallet, Frontend 😊

#370 Feature – Upgrade to IOV-Core 0.15
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/communication/signAndPost/index.ts
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/PageMenu/index.stories.tsx
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/tokens/index.unit.spec.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
  packages/sanes-chrome-extension/config/development.json
  packages/sanes-chrome-extension/config/production.json
  packages/sanes-chrome-extension/config/staging.json
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/extension/background/model/accountManager/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/accountManager/index.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.requests.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/test/requestBuilder.ts
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/account/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/test/index.ts
  packages/sil-voting-app/package.json
  packages/sil-voting-app/src/communication/identities/index.ts
  scripts/bnsd/genesis_app_state.json
  scripts/bnsd/start.sh
  scripts/faucet/bnsd_start.sh
  scripts/faucet/ethereum_start.sh
  scripts/faucet/lisk_start.sh
  yarn.lock
Labels: Browser Extension

#376 Feature #320 - Dashboard proposal list testing
  packages/sil-voting-app/package.json
  packages/sil-voting-app/src/components/Header.tsx
  packages/sil-voting-app/src/routes/dashboard/components/AsideFilter.tsx
  packages/sil-voting-app/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-voting-app/src/routes/dashboard/index.dom.spec.ts
  packages/sil-voting-app/src/routes/dashboard/test/operateDashboard.ts
  packages/sil-voting-app/src/store/index.tsx
  packages/sil-voting-app/src/utils/test/dom.tsx
  packages/sil-voting-app/src/utils/test/reactElemFinder.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature, Frontend 😊, Voter Dashboard

#383 Feature #379 Drink from faucet in bierzo-wallet
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/logic/connection.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/faucet.unit.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/store/usernames/actions.ts
Labels: Bierzo Wallet, Frontend 😊

#380 Feature #276 - Redirect to balance on login
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
Labels: Bierzo Wallet, Feature

#387 Feature – Simplify disconnect
  packages/bierzo-wallet/src/logic/connection.ts
Labels: Bierzo Wallet

#381 Feature #276 - Connect Balance route with redux
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
Labels: Bierzo Wallet, Feature

#382 Feature #276 - Balance route component tests
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/routes/balance/test/travelToBalance.ts
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/welcome/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/welcome/index.stories.tsx
  packages/bierzo-wallet/src/routes/welcome/index.tsx
  packages/bierzo-wallet/src/routes/welcome/test/travelToWelcome.ts
  packages/bierzo-wallet/src/utils/test/reactElemFinder.ts
  packages/medulas-react-components/src/theme/utils/mui.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Feature

#386 Feature #378 - Dashboard proposal redux
  packages/sil-voting-app/package.json
  packages/sil-voting-app/src/communication/status/index.ts
  packages/sil-voting-app/src/components/RequireLogin/index.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/CreationData.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/Description.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/RenderedProposal.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/StatusEnded.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/StatusPending.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/Title.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/VoteActions.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-voting-app/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-voting-app/src/routes/dashboard/index.dom.spec.ts
  packages/sil-voting-app/src/routes/index.tsx
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/sil-voting-app/src/store/reducers/extension/actions.ts
  packages/sil-voting-app/src/store/reducers/extension/reducer.ts
  packages/sil-voting-app/src/store/reducers/index.tsx
  packages/sil-voting-app/src/store/reducers/proposals/actions.ts
  packages/sil-voting-app/src/store/reducers/proposals/index.ts
  packages/sil-voting-app/src/store/reducers/proposals/index.unit.spec.ts
  packages/sil-voting-app/src/store/reducers/proposals/reducer.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature, Frontend 😊, Voter Dashboard

#390 Feature – Use natural identities response type
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/store/extension/actions.ts
Labels: Bierzo Wallet

#388 Feature #251 - Balance Page : Remove links to testnet faucets
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#391 Feature - Use ws connection
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/logic/connection.unit.spec.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/faucet.unit.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/store/balances/index.unit.spec.ts
  packages/bierzo-wallet/src/store/tokens/index.unit.spec.ts
  packages/bierzo-wallet/src/store/usernames/index.unit.spec.ts
Labels: Bierzo Wallet, Frontend 😊, merge when green

#385 Feature #384 - Add account's balances subscriptions
  packages/bierzo-wallet/src/logic/codec.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/faucet.unit.spec.ts
  packages/bierzo-wallet/src/logic/subscriptions.ts
  packages/bierzo-wallet/src/logic/subscriptions.unit.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/utils/test/pubkeys.ts
  packages/bierzo-wallet/src/utils/tokens.ts
Labels: Bierzo Wallet, Frontend 😊

#399 Some updates for the local Ethereum/Ganache scraper
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/logic/connection.ts
  packages/sanes-chrome-extension/config/development.json
  packages/sanes-chrome-extension/config/production.json
  packages/sanes-chrome-extension/config/staging.json
  packages/sanes-chrome-extension/src/extension/background/model/persona/config/codec.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/personaBuider.ts
  scripts/ethereum/scraper_start.sh
  scripts/ethereum/scraper_stop.sh
  scripts/test_restart.sh
Labels: Browser Extension

#402 Feature – Remove obsolete transaction creator address
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.requests.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/requestQueueManager/index.ts
  packages/sanes-chrome-extension/src/routes/requests/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqRegisterUsernameTx.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqSendTransaction.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/index.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension

#403 Feature #252 - Show human readable address on balance route.
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/store/usernames/selectors.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Component

#410 Feature #392 account transactions subscription
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/logic/balances.ts
  packages/bierzo-wallet/src/logic/balances.unit.spec.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/transactions.ts
  packages/bierzo-wallet/src/logic/transactions.unit.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/store/notifications/actions.ts
  packages/bierzo-wallet/src/store/notifications/reducer.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
Labels: Bierzo Wallet, Frontend 😊

#411 Feature #253 - Make signAndPost request from Payment route
  packages/bierzo-wallet/src/communication/signAndPost/index.ts
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/logic/codec.ts
  packages/bierzo-wallet/src/logic/connection.ts
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/TextNote/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.stories.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/utils/balances.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Component, Feature, WIP

#416 Feature – Upgrade IOV-Core to 0.16.0-alpha.2
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/communication/signAndPost/index.ts
  packages/bierzo-wallet/src/logic/balances.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/transactions.ts
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/extension/actions.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
  packages/bierzo-wallet/src/utils/test/pubkeys.ts
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.requests.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.server.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/test/requestBuilder.ts
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sil-voting-app/package.json
  packages/sil-voting-app/src/communication/identities/index.ts
  yarn.lock
Labels: merge when green

#414 Feature #397 Transactions view
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/components/Header/components/LinksMenu/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/transactions/assets/arrowLeft.svg
  packages/bierzo-wallet/src/routes/transactions/assets/arrowRight.svg
  packages/bierzo-wallet/src/routes/transactions/assets/download.svg
  packages/bierzo-wallet/src/routes/transactions/assets/dropdownArrow.svg
  packages/bierzo-wallet/src/routes/transactions/assets/dropdownArrowClose.svg
  packages/bierzo-wallet/src/routes/transactions/assets/fromAddress.svg
  packages/bierzo-wallet/src/routes/transactions/assets/noTransactions.svg
  packages/bierzo-wallet/src/routes/transactions/assets/sortDown.svg
  packages/bierzo-wallet/src/routes/transactions/assets/sortDownActive.svg
  packages/bierzo-wallet/src/routes/transactions/assets/sortUp.svg
  packages/bierzo-wallet/src/routes/transactions/assets/sortUpActive.svg
  packages/bierzo-wallet/src/routes/transactions/assets/sorting.svg
  packages/bierzo-wallet/src/routes/transactions/assets/toAddress.svg
  packages/bierzo-wallet/src/routes/transactions/assets/toAddressRejected.svg
  packages/bierzo-wallet/src/routes/transactions/components/DownloadCSV/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/NoTransactions/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/TxDetails/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/TxTableFooter/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/TxTableHeader/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/TxTableHeader/utils/TxColumn.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/TxTableHeader/utils/TxSortableColumn.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/TxTableRow/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/rowTxBuilder.ts
  packages/bierzo-wallet/src/routes/transactions/components/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/sorting.ts
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/bierzo-wallet/src/theme/css.ts
  packages/bierzo-wallet/src/utils/date.ts
  packages/medulas-react-components/src/components/forms/SelectFieldForm/SelectItems.tsx
  packages/medulas-react-components/src/components/forms/SelectFieldForm/index.stories.tsx
  packages/medulas-react-components/src/components/forms/SelectFieldForm/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet, Frontend 😊, merge when green

#422 Feature – Balance test refinements
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
Labels: Bierzo Wallet

#419 Feature - Implement E2E test for transactions
  packages/bierzo-wallet/src/routes/transactions/index.e2e.spec.ts
Labels: Bierzo Wallet, Frontend 😊

#425 Fix #68 - Welcome route SVG Logo
  packages/medulas-react-components/src/components/PageLayout/index.tsx
  packages/medulas-react-components/src/theme/assets/iov-logo.png
  packages/medulas-react-components/src/theme/assets/iov-logo.svg
  packages/sanes-chrome-extension/src/assets/iov-logo.png
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Fix, Frontend 😊, merge when green

#417 Feature #253 - Add Payment route DOM and E2E tests
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/logic/account.unit.spec.ts
  packages/bierzo-wallet/src/logic/codec.unit.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/test/travelToBalance.ts
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/payment/test/operatePayment.ts
  packages/bierzo-wallet/src/routes/payment/test/travelToPayment.ts
  packages/bierzo-wallet/src/routes/transactions/index.e2e.spec.ts
  packages/bierzo-wallet/src/utils/test/dom.tsx
  packages/bierzo-wallet/src/utils/test/e2e.ts
  packages/bierzo-wallet/src/utils/test/persona.ts
Labels: Bierzo Wallet, Frontend 😊, merge when green

#427 Feature – Sort balances alphabetically
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
Labels: Bierzo Wallet

#426 Feature #415 - Simple confirmation page
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/payment/components/ConfirmPayment/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.stories.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊, merge when green

#430 Feature #396 – Create and use recipientValidator
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.stories.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/payment/test/operatePayment.ts
Labels: Bierzo Wallet, Frontend 😊

#429 Feature – Speedup wait for faucet
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/routes/payment/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/transactions/index.e2e.spec.ts
  packages/bierzo-wallet/src/utils/test/navigation.ts
Labels: Bierzo Wallet, merge when green

#435 Feature #431 - Add BNS support
  packages/sil-voting-app/package.json
  packages/sil-voting-app/src/config/development.json
  packages/sil-voting-app/src/config/index.ts
  packages/sil-voting-app/src/config/production.json
  packages/sil-voting-app/src/config/staging.json
  packages/sil-voting-app/src/logic/connection.ts
  yarn.lock
Labels: Feature, Frontend 😊, Voter Dashboard, merge when green

#436 Feature #432 - Adapt Proposal Types on Redux
  packages/sil-voting-app/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-voting-app/src/routes/dashboard/index.dom.spec.ts
  packages/sil-voting-app/src/store/proposals/actions.ts
  packages/sil-voting-app/src/store/proposals/dummyData.ts
  packages/sil-voting-app/src/store/proposals/index.unit.spec.ts
  packages/sil-voting-app/src/store/proposals/reducer.ts
Labels: Feature, Frontend 😊, Voter Dashboard

#445 Fix #438 - Remove horizontal scrollbar from Payment view
  packages/bierzo-wallet/src/routes/payment/components/index.tsx
Labels: Bierzo Wallet, Fix, merge when green

#444 Fix #439 - Float number validator
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/medulas-react-components/src/utils/forms/validators/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Fix
