Repository iov-one/ponferrada, pull requests merged in 2019-08, with the labels that each got.

#448 Fix – Stabilize account selection
  packages/bierzo-wallet/src/logic/connection.unit.spec.ts
  packages/bierzo-wallet/src/logic/faucet.unit.spec.ts
  packages/bierzo-wallet/src/logic/transactions.unit.spec.ts
  packages/bierzo-wallet/src/store/balances/index.unit.spec.ts
  packages/bierzo-wallet/src/store/extension/actions.ts
  packages/bierzo-wallet/src/store/extension/actions.unit.spec.ts
  packages/bierzo-wallet/src/store/tokens/index.unit.spec.ts
Labels: Bierzo Wallet

#443 Feature - Support different txs types
  packages/bierzo-wallet/src/components/Header/components/BellMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/Header/selector.ts
  packages/bierzo-wallet/src/components/PageMenu/index.stories.tsx
  packages/bierzo-wallet/src/logic/transactions.ts
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/logic/transactions/index.unit.spec.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParser.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/assets/dropdownArrow.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/assets/dropdownArrowClose.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/rowTxBuilder.ts
  packages/bierzo-wallet/src/routes/transactions/components/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/sorting.ts
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/bierzo-wallet/src/store/notifications/actions.ts
  packages/bierzo-wallet/src/store/notifications/reducer.ts
  packages/bierzo-wallet/src/store/notifications/selectors.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#453 Feature – Upgrade IOV-Core to 0.16.0
  .eslintrc.js
  packages/bierzo-wallet/.eslintrc.js
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/utils/test/e2e.ts
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/context/PersonaProvider.tsx
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/extension/backgroundscript.ts
  packages/sanes-chrome-extension/src/routes/account/index.tsx
  packages/sanes-chrome-extension/src/routes/restore-account/index.tsx
  packages/sanes-chrome-extension/src/routes/signup/index.tsx
  packages/sil-voting-app/package.json
  yarn.lock
Labels: merge when green

#455 Task - Remove pending transactions
  packages/bierzo-wallet/src/components/Header/components/TransactionsMenu/GotIt.tsx
  packages/bierzo-wallet/src/components/Header/components/TransactionsMenu/TransactionsList.tsx
  packages/bierzo-wallet/src/components/Header/components/TransactionsMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/Header/index.tsx
  packages/bierzo-wallet/src/components/PageMenu/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/store/notifications/actions.ts
  packages/bierzo-wallet/src/store/notifications/reducer.ts
  packages/bierzo-wallet/src/store/notifications/selectors.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#457 Task - Remove error on send txs
  packages/bierzo-wallet/src/components/Header/components/BellMenu/TxItem/MsgError.tsx
  packages/bierzo-wallet/src/components/Header/components/BellMenu/TxItem/index.tsx
  packages/bierzo-wallet/src/components/Header/components/BellMenu/badgeCalculator.ts
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/PageMenu/index.stories.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/rowTxBuilder.ts
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/bierzo-wallet/src/store/notifications/reducer.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#462 Feature - Adapt header to support different TXs
  packages/bierzo-wallet/src/components/Header/components/BellMenu/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwParser.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxHeader/MsgSuccess.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxHeader/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/assets/transactionReceive.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/assets/transactionSend.svg
Labels: Bierzo Wallet, Frontend 😊, merge when green

#464 Feature #440 - Receive payment view
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.stories.tsx
  packages/bierzo-wallet/src/routes/receivePayments/components/index.tsx
  packages/bierzo-wallet/src/routes/receivePayments/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/receivePayments/index.stories.tsx
  packages/bierzo-wallet/src/routes/receivePayments/index.tsx
  packages/bierzo-wallet/src/routes/receivePayments/test/operateReceivePayment.ts
  packages/bierzo-wallet/src/routes/receivePayments/test/travelToReceivePayment.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet, Frontend 😊, merge when green

#463 Feature - Add unknown row component
  .editorconfig
  .eslintrc.js
  packages/bierzo-wallet/src/components/Header/components/BellMenu/badgeCalculator.ts
  packages/bierzo-wallet/src/components/Header/components/BellMenu/index.tsx
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/Header/selector.ts
  packages/bierzo-wallet/src/components/PageMenu/index.stories.tsx
  packages/bierzo-wallet/src/logic/transactions/index.unit.spec.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParser.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxHeader/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUnkownTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUnkownTransaction/ui/UnknownTxHeader/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUnkownTransaction/ui/UnknownTxRow/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/rowTxBuilder.ts
  packages/bierzo-wallet/src/routes/transactions/components/sorting.ts
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/bierzo-wallet/src/store/notifications/actions.ts
  packages/bierzo-wallet/src/store/notifications/reducer.ts
  packages/bierzo-wallet/src/store/notifications/selectors.ts
  packages/bierzo-wallet/src/utils/date.ts
  packages/bierzo-wallet/src/utils/localstorage/transactions.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#466 Feature – Refactor process addresses
  packages/bierzo-wallet/src/routes/receivePayments/components/index.tsx
  packages/bierzo-wallet/src/routes/receivePayments/index.stories.tsx
  packages/bierzo-wallet/src/routes/receivePayments/index.tsx
Labels: Bierzo Wallet

#468 Feature – Update @material-ui/* packages
  packages/bierzo-wallet/package.json
  packages/medulas-react-components/package.json
  packages/sanes-chrome-extension/package.json
  packages/sil-voting-app/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: merge when green

#469 Feature #437 - Adapt Frontend types to BNS Proposal
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/CreationData.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/DeleteButton.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/Description.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/Identification.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/Period.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/StatusEnded.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/StatusPending.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/TallyBar.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/Title.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/VotingPanel/ParticipationData.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/VotingPanel/ResultFlair.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/VotingPanel/index.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-voting-app/src/routes/dashboard/index.dom.spec.ts
  packages/sil-voting-app/src/routes/dashboard/test/operateDashboard.ts
  packages/sil-voting-app/src/routes/dashboard/utils/test/randomProposal.ts
  packages/sil-voting-app/src/store/proposals/actions.ts
  packages/sil-voting-app/src/store/proposals/dummyData.ts
Labels: Feature, Frontend 😊, Voter Dashboard, merge when green

#474 Feature #458 - Load wallet config from web resource
  packages/bierzo-wallet/config/development.json
  packages/bierzo-wallet/config/production.json
  packages/bierzo-wallet/config/staging.json
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/communication/identities/index.ts
  packages/bierzo-wallet/src/communication/signAndPost/index.ts
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/logic/balances.ts
  packages/bierzo-wallet/src/logic/codec.ts
  packages/bierzo-wallet/src/logic/connection.ts
  packages/bierzo-wallet/src/logic/connection.unit.spec.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/routes/receivePayments/index.tsx
  packages/bierzo-wallet/src/setupTests.js
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/tokens/actions.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
  packages/bierzo-wallet/src/utils/test/e2e.ts
Labels: Bierzo Wallet, Frontend 😊, merge when green

#475 Feature – Upgrade final-form
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/medulas-react-components/package.json
  packages/medulas-react-components/src/components/forms/TextFieldForm/index.tsx
  packages/medulas-react-components/src/utils/forms/validators/index.tsx
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/routes/restore-account/components/SetMnemonicForm.tsx
  yarn.lock
Labels: merge when green

#476 Feature #460 - Fix IOV Wallet product name
  packages/bierzo-wallet/public/index.html
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#485 Feature #477 - Request Identity from Extension
  packages/sil-voting-app/src/communication/identities/index.ts
  packages/sil-voting-app/src/config/development.json
  packages/sil-voting-app/src/config/index.ts
  packages/sil-voting-app/src/config/production.json
  packages/sil-voting-app/src/config/staging.json
  packages/sil-voting-app/src/logic/connection.ts
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/sil-voting-app/src/store/extension/actions.ts
  packages/sil-voting-app/src/store/extension/reducer.ts
  packages/sil-voting-app/src/utils/test/e2e.ts
Labels: Feature, Frontend 😊, Voter Dashboard

#482 Feature – Fix and improve config handling
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/setupTests.js
  scripts/travis.sh
Labels: merge when green

#487 Await click calls in sil dashboard test
  packages/sil-voting-app/src/routes/dashboard/index.dom.spec.ts
Labels: merge when green

#491 Alter storybook configuration
  packages/valdueza-storybook/.storybook/config.js
Labels: merge when green

#494 Fix - Add babel-loader to storybook
  .yarnrc
  packages/valdueza-storybook/package.json
  yarn.lock
Labels: Bierzo Wallet, Fix, merge when green

#497 Feature #478 - Integrate Governor Class
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/sil-voting-app/src/store/extension/actions.ts
  packages/sil-voting-app/src/store/extension/index.ts
  packages/sil-voting-app/src/store/extension/reducer.ts
  packages/sil-voting-app/src/store/index.ts
  packages/sil-voting-app/src/store/reducers.ts
Labels: Feature, Frontend 😊, Voter Dashboard, merge when green

#499 Deploy BNSD proposals for development
  scripts/bnsd/deploy_proposals.js
  scripts/bnsd/genesis_app_state.json
  scripts/bnsd/init.sh
  scripts/bnsd/start.sh
Labels: Frontend 😊, Voter Dashboard

#504 Tidy up a couple of spellings
  packages/sanes-chrome-extension/src/extension/background/model/accountManager/index.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/personaBuilder.ts
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgSendTransaction.tsx
  packages/sanes-chrome-extension/src/utils/strings.ts
Labels: merge when green

#512 Fix bnsd init script
  scripts/bnsd/init.sh
Labels: merge when green

#517 Fix – Remove unused pubKeys in AddressesTable
  packages/bierzo-wallet/src/components/AddressesTable/index.tsx
Labels: Bierzo Wallet

#524 Feature #424 - Personalized address transactions support
  .eslintignore
  packages/bierzo-wallet/src/components/AddressesTable/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/TransactionHeader/MsgSuccess.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/TransactionHeader/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/TransactionRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/TransactionRow/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/assets/dropdownArrow.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/assets/dropdownArrowClose.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/assets/transactionSend.svg
  packages/bierzo-wallet/src/routes/registerName/components/ConfirmRegistration.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/utils/tokens.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#526 Feature #522 - Replace clipboard package
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/components/AddressesTable/index.tsx
  packages/bierzo-wallet/src/components/Header/index.tsx
  packages/bierzo-wallet/src/components/Header/selector.ts
  packages/bierzo-wallet/src/store/notifications/selectors.ts
  yarn.lock
Labels: Bierzo Wallet, Feature, merge when green

#531 Feature – Upgrate IOV-Core to 0.16.3 and use new UserProfile.identityExists
  packages/bierzo-wallet/package.json
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/extension/background/model/accountManager/index.ts
  packages/sil-voting-app/package.json
  packages/ui-logic/package.json
  yarn.lock
Labels: merge when green

#528 Feature – Refactor PersonaBuilder/Persona/AccountManager/RequestsHandler
  packages/sanes-chrome-extension/src/context/RequestProvider.tsx
  packages/sanes-chrome-extension/src/extension/background/model/accountManager/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/accountManager/softwareAccountManager.ts
  packages/sanes-chrome-extension/src/extension/background/model/accountManager/softwareAccountManager.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/backgroundscript/db/index.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/backgroundscript/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/personaBuilder.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/userprofilehelpers.ts
  packages/sanes-chrome-extension/src/extension/background/model/persona/userprofilehelpers.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/requestsHandler/index.requests.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/requestsHandler/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/requestsHandler/requestCallback.ts
  packages/sanes-chrome-extension/src/extension/background/model/requestsHandler/requestQueueManager/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/requestsHandler/requestQueueManager/index.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/requestsHandler/senderWhitelist/index.ts
  packages/sanes-chrome-extension/src/extension/background/model/requestsHandler/senderWhitelist/index.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/requestsHandler/test/requestBuilder.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.server.unit.spec.ts
  packages/sanes-chrome-extension/src/extension/background/model/signingServer/index.ts
  packages/sanes-chrome-extension/src/index.tsx
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/requests/components/RequestList.tsx
  packages/sanes-chrome-extension/src/routes/requests/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/requests/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/requests/index.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/components/ShowRequest.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/share-identity/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/index.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.tsx
  packages/sanes-chrome-extension/src/utils/chrome/index.ts
  packages/sanes-chrome-extension/src/utils/test/dom.tsx
  packages/sanes-chrome-extension/src/utils/test/navigation.ts
Labels: merge when green

#532 Fix #450 - Proper error messages when sending to personalized address
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/logic/account.unit.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.tsx
Labels: Bierzo Wallet, Fix

#533 Feature #405 - Personalized address E2E test
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-chrome-extension/src/routes/account/index.e2e.spec.ts
  packages/sanes-chrome-extension/src/routes/login/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/login/index.e2e.spec.ts
  packages/sanes-chrome-extension/src/routes/restore-account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/restore-account/index.e2e.spec.ts
  packages/sanes-chrome-extension/src/routes/signup/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/signup/index.e2e.spec.ts
  packages/ui-logic/package.json
  packages/ui-logic/src/index.ts
  packages/ui-logic/src/random.spec.ts
  packages/ui-logic/src/random.ts
  packages/ui-logic/types/index.d.ts
  packages/ui-logic/types/random.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet, Frontend 😊, merge when green

#534 Fature #254 - Remove unnecessary security centre
  packages/bierzo-wallet/src/components/Header/assets/securityCentre.svg
  packages/bierzo-wallet/src/components/Header/components/HiMenu/index.tsx
Labels: Bierzo Wallet, Frontend 😊, merge when green

#535 Feature #516 - Personalized address term
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/registerName/components/ConfirmRegistration.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgRegisterUsernameTx.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqRegisterUsernameTx.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Fix, merge when green

#506 Feature #479 - List Proposals with Governor
  packages/sil-voting-app/src/routes/dashboard/index.dom.spec.ts
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/sil-voting-app/src/store/proposals/actions.ts
  packages/sil-voting-app/src/store/proposals/dummyData.ts
  packages/sil-voting-app/src/store/proposals/index.unit.spec.ts
Labels: Feature, Frontend 😊, Voter Dashboard

#536 Feature #480 - Change configuration without recompiling
  packages/sil-voting-app/package.json
  packages/sil-voting-app/src/config/index.ts
  packages/sil-voting-app/src/setupTests.js
Labels: Frontend 😊, Voter Dashboard, merge when green

#541 Feature – Use redux governor instead of local instance
  packages/sil-voting-app/src/routes/login/index.tsx
  packages/sil-voting-app/src/store/proposals/actions.ts
  packages/sil-voting-app/src/store/proposals/index.unit.spec.ts
Labels: Voter Dashboard

#543 Fix missing await
  packages/sil-voting-app/src/communication/signandpost/index.ts
Labels: Fix, Frontend 😊, Voter Dashboard, merge when green

#542 Task #257 Remove redux in chrome extension
  packages/sanes-chrome-extension/package.json
  packages/sanes-chrome-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-chrome-extension/src/index.tsx
  packages/sanes-chrome-extension/src/routes/account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/account/index.tsx
  packages/sanes-chrome-extension/src/routes/index.tsx
  packages/sanes-chrome-extension/src/routes/login/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/login/index.tsx
  packages/sanes-chrome-extension/src/routes/recovery-phrase/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/recovery-phrase/index.tsx
  packages/sanes-chrome-extension/src/routes/requests/components/RequestList.tsx
  packages/sanes-chrome-extension/src/routes/requests/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/requests/index.tsx
  packages/sanes-chrome-extension/src/routes/restore-account/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/restore-account/index.tsx
  packages/sanes-chrome-extension/src/routes/share-identity/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/share-identity/index.tsx
  packages/sanes-chrome-extension/src/routes/signup/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/signup/index.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/tx-request/index.tsx
  packages/sanes-chrome-extension/src/routes/welcome/index.dom.spec.ts
  packages/sanes-chrome-extension/src/routes/welcome/index.tsx
  packages/sanes-chrome-extension/src/store/index.ts
  packages/sanes-chrome-extension/src/store/reducers/index.ts
  packages/sanes-chrome-extension/src/utils/history.ts
  packages/sanes-chrome-extension/src/utils/storybook/index.tsx
  packages/sanes-chrome-extension/src/utils/test/dom.tsx
  packages/sanes-chrome-extension/src/utils/test/navigation.ts
  yarn.lock
Labels: Browser Extension, Frontend 😊, merge when green

#507 Feature - #502 - Voting Buttons Form
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/VotingPanel/index.tsx
  packages/sil-voting-app/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-voting-app/src/routes/dashboard/test/operateDashboard.ts
Labels: Feature, Frontend 😊, Voter Dashboard

#547 Fix - Bell icon layout
  packages/sanes-chrome-extension/src/routes/account/components/Empty.tsx
Labels: Browser Extension, Frontend 😊

#549 Support governance transactions in extension
  packages/sanes-chrome-extension/src/extension/background/model/persona/index.ts
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgCreateProposalTx.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/MsgVoteTx.tsx
  packages/sanes-chrome-extension/src/routes/account/components/Tx/index.tsx
  packages/sanes-chrome-extension/src/routes/account/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqCreateProposalTx.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/ReqVoteTx.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/components/ShowRequest/index.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/index.stories.tsx
  packages/sanes-chrome-extension/src/routes/tx-request/test/index.ts
  packages/valdueza-storybook/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: merge when green

#554 Feature #530 - add Terms and Conditions page
  packages/bierzo-wallet/src/components/Header/assets/invite.svg
  packages/bierzo-wallet/src/components/Header/components/HiMenu/index.tsx
  packages/bierzo-wallet/src/components/PageMenu/index.tsx
  packages/bierzo-wallet/src/components/PageMenuColumn/index.stories.tsx
  packages/bierzo-wallet/src/components/PageMenuColumn/index.tsx
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/terms/components/index.tsx
  packages/bierzo-wallet/src/routes/terms/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/terms/index.stories.tsx
  packages/bierzo-wallet/src/routes/terms/index.tsx
  packages/bierzo-wallet/src/routes/terms/test/travelToTerms.ts
  packages/medulas-react-components/src/components/TextMarkup/Paragraph.tsx
  packages/medulas-react-components/src/components/TextMarkup/Section.tsx
  packages/medulas-react-components/src/components/TextMarkup/Title.tsx
  packages/medulas-react-components/src/components/TextMarkup/index.stories.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/src/theme/utils/variables.ts
  packages/medulas-react-components/types/components/TextMarkup/Paragraph.d.ts
  packages/medulas-react-components/types/components/TextMarkup/Section.d.ts
  packages/medulas-react-components/types/components/TextMarkup/Title.d.ts
  packages/medulas-react-components/types/index.d.ts
  packages/medulas-react-components/types/theme/utils/variables.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#559 Feature - Create spinner
  packages/medulas-react-components/src/components/Button/index.tsx
  packages/sanes-chrome-extension/src/routes/login/components/LoginForm.tsx
  packages/sanes-chrome-extension/src/routes/signup/components/NewAccountForm.tsx
Labels: Browser Extension, Frontend 😊

#558 Feature #502 - Remove error handler and check previous vote
  packages/sil-governance/src/routes/dashboard/components/Proposal/Period.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/index.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-governance/src/routes/dashboard/test/operateDashboard.ts
  packages/sil-governance/src/store/proposals/actions.ts
  packages/sil-governance/src/store/proposals/dummyData.ts
  packages/sil-governance/src/store/proposals/index.unit.spec.ts
Labels: Feature, Frontend 😊, Sil Governance, merge when green

#572 Feature #459 - Close wallet session
  packages/bierzo-wallet/src/components/Header/components/HiMenu/index.e2e.spec.ts
  packages/bierzo-wallet/src/components/Header/components/HiMenu/index.tsx
  packages/bierzo-wallet/src/store/actions.ts
  packages/bierzo-wallet/src/store/index.ts
  packages/bierzo-wallet/src/store/reducers.ts
Labels: Bierzo Wallet, Frontend 😊

#567 Feature #509 - Proposal creation with governor
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddValidator.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeQuorum.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeThreshold.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendProtocol.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/ReleaseGuaranteeFunds.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveValidator.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/index.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalOptions/AmendProtocol.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalOptions/index.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalTypeField.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalTypeSelect.tsx
  packages/sil-governance/src/routes/create-proposal/components/WhenField.tsx
Labels: Feature, Frontend 😊, Sil Governance

#573 Feature - Request flow improved
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/test/travelToBalance.ts
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.e2e.spec.ts
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-chrome-extension/src/index.tsx
  packages/sanes-chrome-extension/src/routes/paths.ts
  packages/sanes-chrome-extension/src/routes/paths.unit.spec.ts
Labels: Browser Extension, Frontend 😊, merge when green

#579 Feature #518 - Improve redux identities
  packages/bierzo-wallet/src/components/Header/components/HiMenu/index.e2e.spec.ts
  packages/bierzo-wallet/src/logic/balances.ts
  packages/bierzo-wallet/src/logic/balances.unit.spec.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/faucet.unit.spec.ts
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/logic/transactions/index.unit.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/balance/test/travelToBalance.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/policy/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/policy/test/travelToPolicy.ts
  packages/bierzo-wallet/src/routes/receivePayments/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/receivePayments/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/bierzo-wallet/src/routes/terms/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/terms/test/travelToTerms.ts
  packages/bierzo-wallet/src/routes/transactions/index.e2e.spec.ts
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/balances/index.unit.spec.ts
  packages/bierzo-wallet/src/store/extension/actions.ts
  packages/bierzo-wallet/src/store/extension/reducer.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
  packages/bierzo-wallet/src/store/usernames/index.unit.spec.ts
  packages/bierzo-wallet/src/utils/test/identities.ts
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/bierzo-wallet/src/utils/tokens.ts
Labels: Bierzo Wallet, Frontend 😊

#580 Feature #574 - Remove unused Sentry dependency
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/components/PageMenu/index.tsx
  packages/bierzo-wallet/src/index.tsx
  packages/medulas-react-components/package.json
  packages/medulas-react-components/src/errors/ErrorBoundary.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/types/errors/ErrorBoundary.d.ts
  packages/medulas-react-components/types/index.d.ts
  yarn.lock
Labels: Bierzo Wallet, Component, Frontend 😊, merge when green

#581 Feature #576 - Better personalized address validation
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/logic/account.unit.spec.ts
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
Labels: Bierzo Wallet, Frontend 😊

#584 Fix – Move paths.unit.spec.ts into correct folder
  packages/sanes-browser-extension/src/routes/paths.unit.spec.ts
Labels: Browser Extension, merge when green

#582 Feature #570 - Committee selection in Proposal Creation
  packages/sil-governance/src/routes/create-proposal/components/CommitteeSelect.tsx
  packages/sil-governance/src/routes/create-proposal/components/DescriptionField.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddValidator.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeQuorum.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeThreshold.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendProtocol.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/ReleaseGuaranteeFunds.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveValidator.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/index.tsx
  packages/sil-governance/src/routes/create-proposal/components/ParticipationData.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalTypeSelect.tsx
  packages/sil-governance/src/routes/create-proposal/components/TitleField.tsx
  packages/sil-governance/src/routes/create-proposal/components/WhenField.tsx
Labels: Feature, Frontend 😊, Sil Governance, merge when green

#599 Feature #278 - Extension reducer test
  packages/bierzo-wallet/src/store/extension/index.unit.spec.ts
Labels: Bierzo Wallet, Frontend 😊, merge when green

#600 Improve Recovery Phrase screen
  packages/sanes-browser-extension/src/routes/account/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/signup/components/ShowPhraseForm.tsx
  packages/sanes-browser-extension/src/routes/signup/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/signup/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/signup/index.stories.tsx
  packages/sanes-browser-extension/src/routes/signup/index.tsx
  packages/sanes-browser-extension/src/routes/signup/test/operateSignup.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, merge when green

#602 Feature #585 - Show transaction fees
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/ui/TransactionRow/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊, merge when green

#604 Feature #592 - Favicon update
  packages/bierzo-wallet/public/favicon.ico
  packages/sil-governance/public/favicon.ico
Labels: Bierzo Wallet, Frontend 😊, merge when green

#601 Feature - Wallet wording refactoring
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/account/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/index.tsx
  packages/sanes-browser-extension/src/routes/login/components/LoginControls.tsx
  packages/sanes-browser-extension/src/routes/login/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/login/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/login/index.tsx
  packages/sanes-browser-extension/src/routes/paths.ts
  packages/sanes-browser-extension/src/routes/restore-account/test/operateRestoreAccount.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/components/SetMnemonicForm.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/components/SetPasswordForm.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/test/operateRestoreWallet.ts
  packages/sanes-browser-extension/src/routes/signup/components/NewWalletForm.tsx
  packages/sanes-browser-extension/src/routes/signup/components/SecurityHintForm.tsx
  packages/sanes-browser-extension/src/routes/signup/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/signup/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/signup/index.stories.tsx
  packages/sanes-browser-extension/src/routes/signup/index.tsx
  packages/sanes-browser-extension/src/routes/signup/test/operateSignup.ts
  packages/sanes-browser-extension/src/routes/welcome/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
  packages/sanes-browser-extension/src/utils/test/navigation.ts
  packages/sil-governance/src/utils/test/persona.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊, merge when green

#610 Linting: use no-param-reassign eslint rule
  .eslintrc.js
  packages/bierzo-wallet/src/utils/tokens.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sil-governance/src/routes/create-proposal/components/CommitteeSelect.tsx
Labels: merge when green

#605 Feature - Rename account status
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/index.tsx
  packages/sanes-browser-extension/src/routes/login/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/login/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/login/index.tsx
  packages/sanes-browser-extension/src/routes/login/test/submitLoginForm.ts
  packages/sanes-browser-extension/src/routes/paths.ts
  packages/sanes-browser-extension/src/routes/paths.unit.spec.ts
  packages/sanes-browser-extension/src/routes/recovery-phrase/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/requests/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/requests/index.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/test/operateRestoreWallet.ts
  packages/sanes-browser-extension/src/routes/share-identity/index.stories.tsx
  packages/sanes-browser-extension/src/routes/signup/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/signup/index.tsx
  packages/sanes-browser-extension/src/routes/signup/test/operateSignup.ts
  packages/sanes-browser-extension/src/routes/tx-request/index.stories.tsx
  packages/sanes-browser-extension/src/routes/wallet/assets/deleteWallet.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/recoveryPhrase.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/requests.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/transactionError.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/transactionSend.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/uptodate.svg
  packages/sanes-browser-extension/src/routes/wallet/components/Empty.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/ListTxs.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgCreateProposalTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgRegisterUsernameTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgSendTransaction.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgVoteTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/test/drawer.ts
  packages/sanes-browser-extension/src/routes/wallet/test/operateWallet.ts
  packages/sanes-browser-extension/src/utils/test/navigation.ts
  packages/sil-governance/src/utils/test/persona.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊

#609 Feature #510 - Highlight user address
  packages/bierzo-wallet/src/components/BlockchainAddress/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwParser.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
  packages/bierzo-wallet/src/routes/receivePayments/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/bierzo-wallet/src/utils/tokens.ts
  packages/medulas-react-components/src/components/Badge/index.stories.tsx
  packages/medulas-react-components/src/components/Badge/index.tsx
  packages/medulas-react-components/types/components/Badge/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊, merge when green

#619 Feature - Remove account name
  packages/bierzo-wallet/src/routes/balance/test/travelToBalance.ts
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/signup/components/NewWalletForm.tsx
  packages/sanes-browser-extension/src/routes/signup/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/signup/index.tsx
  packages/sanes-browser-extension/src/routes/signup/test/operateSignup.ts
  packages/sanes-browser-extension/src/utils/localstorage/hint.ts
  packages/sil-governance/src/routes/login/index.e2e.spec.ts
  packages/sil-governance/src/utils/test/persona.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊, merge when green

#623 Feature – Deactivate wallet creation in staging/production
  packages/sanes-browser-extension/config/development.json
  packages/sanes-browser-extension/config/production.json
  packages/sanes-browser-extension/config/staging.json
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
Labels: Browser Extension

#625 Feature - Rename signed TXs
  packages/sanes-browser-extension/src/routes/wallet/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊, merge when green

#624 Feature – Use new name for the extension
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, merge when green

#626 Show formatted JSON for governance transactions
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-browser-extension/src/routes/tx-request/components/ShowRequest/ReqCreateProposalTx.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ShowRequest/ReqVoteTx.tsx
  packages/sil-governance/src/utils/test/persona.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊
