Repository iov-one/ponferrada, pull requests merged in 2019-09, with the labels that each got.

#611 Feature #571 - Dashboard Display Options
  packages/sil-governance/src/routes/create-proposal/components/CommitteeSelect.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/Description.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/CreateTextResolution.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/ExecuteProposalBatch.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/ReleaseEscrow.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/SetValidators.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/UpdateElectionRule.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/UpdateElectorate.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/index.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/index.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-governance/src/routes/dashboard/components/RenderedProposal.tsx
  packages/sil-governance/src/routes/dashboard/index.dom.spec.ts
  packages/sil-governance/src/routes/dashboard/test/operateDashboard.ts
  packages/sil-governance/src/store/proposals/actions.ts
  packages/sil-governance/src/store/proposals/dummyData.ts
  packages/ui-logic/src/index.ts
  packages/ui-logic/src/time.spec.ts
  packages/ui-logic/src/time.ts
  packages/ui-logic/types/index.d.ts
  packages/ui-logic/types/time.d.ts
  scripts/bnsd/deploy_proposals.js
Labels: Frontend 😊, Sil Governance

#629 Feature #614 - Create Proposal Committee Member
  packages/sil-governance/src/routes/create-proposal/components/CommitteeRulesSelect.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendProtocol.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
Labels: Frontend 😊, Sil Governance

#630 Feature #615 - Create Proposal Amend Threshold Quorum
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeQuorum.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeThreshold.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
Labels: Frontend 😊, Sil Governance

#631 Feature #616 - Create Proposal Validators
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddValidator.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveValidator.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/utils/test/persona.ts
Labels: Frontend 😊, Sil Governance, merge when green

#634 Feature #633 - Transaction Confirmation Page
  packages/sil-governance/src/components/AsideFilter/index.tsx
  packages/sil-governance/src/components/ConfirmTransaction/index.tsx
  packages/sil-governance/src/components/Header/index.tsx
  packages/sil-governance/src/components/PageContent/index.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/create-proposal/index.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/sil-governance/src/routes/dashboard/index.tsx
  packages/sil-governance/src/store/reducers.ts
  packages/sil-governance/src/store/transactions/actions.ts
  packages/sil-governance/src/store/transactions/index.ts
  packages/sil-governance/src/store/transactions/reducer.ts
Labels: Frontend 😊, Sil Governance

#639 Rename NEUMA -> Neuma
  CHANGELOG.md
  packages/sanes-browser-extension/config/manifest-development.json
  packages/sanes-browser-extension/config/manifest-production.json
  packages/sanes-browser-extension/config/manifest-staging.json
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: merge when green

#642 Storybook version upgrade
  package.json
  yarn.lock
Labels: Feature, merge when green

#627 Fix #595 - test warnings
  packages/bierzo-wallet/src/components/AddressesTable/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/receivePayments/index.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Fix

#628 Feature #606 - Show hint to interact with extension
  packages/bierzo-wallet/src/components/BillboardMessage/index.tsx
  packages/bierzo-wallet/src/index.tsx
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/medulas-react-components/src/context/BillboardProvider/Billboard.tsx
  packages/medulas-react-components/src/context/BillboardProvider/index.stories.tsx
  packages/medulas-react-components/src/context/BillboardProvider/index.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/types/context/Billboard/Billboard.d.ts
  packages/medulas-react-components/types/context/Billboard/index.d.ts
  packages/medulas-react-components/types/context/BillboardProvider/Billboard.d.ts
  packages/medulas-react-components/types/context/BillboardProvider/index.d.ts
  packages/medulas-react-components/types/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊, merge when green

#638 Feature #636 - Changes Proposals' Add to Replace
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/sil-governance/src/routes/login/index.tsx
  packages/sil-governance/src/store/proposals/actions.ts
  packages/sil-governance/src/store/proposals/index.unit.spec.ts
  packages/sil-governance/src/store/proposals/reducer.ts
Labels: Frontend 😊, Sil Governance, merge when green

#643 Feature #603 - CSV builder
  packages/bierzo-wallet/src/logic/csvBuilder/index.stories.tsx
  packages/bierzo-wallet/src/logic/csvBuilder/index.ts
  packages/bierzo-wallet/src/logic/csvBuilder/index.unit.spec.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParser.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwRegisterUsernameTx/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUnkownTransaction/index.tsx
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Frontend 😊

#644 Fix #640 - Add "me" badge to sender address
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
Labels: Bierzo Wallet, Fix

#648 Update Travis folding helpers
  scripts/travis.sh
Labels: merge when green

#650 Fix dom test in #645
  packages/sil-governance/src/components/AsideFilter/index.tsx
  packages/sil-governance/src/routes/create-proposal/index.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-governance/src/routes/dashboard/index.stories.tsx
  packages/sil-governance/src/routes/dashboard/index.tsx
  packages/sil-governance/src/routes/index.tsx
  packages/sil-governance/src/routes/paths.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Sil Governance

#653 Feature #578 - Configure expected chain
  packages/sanes-browser-extension/config/development.json
  packages/sanes-browser-extension/config/production.json
  packages/sanes-browser-extension/config/staging.json
  packages/sanes-browser-extension/src/extension/background/model/persona/config/codec.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
Labels: Browser Extension, merge when green

#667 Fix – committee selection now contains all committees
  CHANGELOG.md
  packages/bierzo-wallet/package.json
  packages/sanes-browser-extension/package.json
  packages/sil-governance/package.json
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeThreshold.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveCommitteeMember.tsx
  packages/ui-logic/package.json
  scripts/bnsd/genesis_app_state.json
  yarn.lock
Labels: merge when green

#670 Remove unused delete button
  CHANGELOG.md
  packages/sil-governance/src/assets/delete.svg
  packages/sil-governance/src/routes/dashboard/components/Proposal/DeleteButton.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-governance/src/routes/dashboard/test/operateDashboard.ts
Labels: Sil Governance

#684 Fix – Fix storybook build by simplifying dependency
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/communication/ledgerRpcEndpoint.ts
  packages/valdueza-storybook/.gitignore
  scripts/bnsd/genesis_app_state.json
  scripts/travis.sh
  yarn.lock
Labels: Bierzo Wallet, Fix

#681 Feature #641 - Rename "Log In" to "Unlock"
  packages/sanes-browser-extension/src/routes/index.tsx
  packages/sanes-browser-extension/src/routes/paths.ts
  packages/sanes-browser-extension/src/routes/paths.unit.spec.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/test/operateRestoreWallet.ts
  packages/sanes-browser-extension/src/routes/unlock/components/UnlockControls.tsx
  packages/sanes-browser-extension/src/routes/unlock/components/UnlockForm.tsx
  packages/sanes-browser-extension/src/routes/unlock/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/unlock/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/unlock/index.stories.tsx
  packages/sanes-browser-extension/src/routes/unlock/index.tsx
  packages/sanes-browser-extension/src/routes/unlock/test/operateUnlock.ts
  packages/sanes-browser-extension/src/routes/unlock/test/submitUnlockForm.ts
  packages/sanes-browser-extension/src/routes/welcome/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
  packages/sanes-browser-extension/src/utils/test/navigation.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊

#682 Feature #622 - Rename "New wallet" to "Create wallet"
  packages/sanes-browser-extension/src/routes/welcome/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊, merge when green

#685 Feature - #652 Form Validate Proposals
  packages/sil-governance/src/routes/create-proposal/components/CommitteeRulesSelect.tsx
  packages/sil-governance/src/routes/create-proposal/components/DescriptionField.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddValidator.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeQuorum.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeThreshold.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendProtocol.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveValidator.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/index.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/create-proposal/components/TitleField.tsx
  packages/sil-governance/src/routes/create-proposal/components/WhenField.tsx
Labels: Frontend 😊, Sil Governance

#693 Feature #658 - Changes name occurrences to IOV Governance
  packages/sil-governance/README.md
  packages/sil-governance/public/index.html
  packages/sil-governance/public/manifest.json
  packages/sil-governance/src/components/Header/index.tsx
  packages/sil-governance/src/routes/dashboard/index.dom.spec.ts
  packages/sil-governance/src/routes/login/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance, merge when green

#694 Feature #657 - Adds message for empty proposal list
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance, merge when green

#695 Feature #565 - Delete wallet confirmation screen
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/delete-wallet/components/DeleteForm.tsx
  packages/sanes-browser-extension/src/routes/delete-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/delete-wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/delete-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/delete-wallet/test/operateDeleteWallet.ts
  packages/sanes-browser-extension/src/routes/index.tsx
  packages/sanes-browser-extension/src/routes/paths.ts
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.tsx
  packages/sanes-browser-extension/src/utils/test/navigation.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊, merge when green

#696 Feature - SelectField validation
  packages/medulas-react-components/src/components/forms/SelectFieldForm/SelectItems.tsx
  packages/medulas-react-components/src/components/forms/SelectFieldForm/index.stories.tsx
  packages/medulas-react-components/src/components/forms/SelectFieldForm/index.tsx
  packages/medulas-react-components/src/components/forms/TextFieldForm/index.tsx
  packages/medulas-react-components/types/components/forms/SelectFieldForm/SelectItems.d.ts
  packages/medulas-react-components/types/components/forms/SelectFieldForm/index.d.ts
  packages/medulas-react-components/types/components/forms/TextFieldForm/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature, Frontend 😊, merge when green

#632 Feature #617 - Create Proposal Release Funds
  packages/sil-governance/src/config/development.json
  packages/sil-governance/src/config/index.ts
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AddCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeQuorum.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/AmendCommitteeThreshold.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/ReleaseGuaranteeFunds.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/RemoveCommitteeMember.tsx
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/index.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/store/extension/actions.ts
Labels: Frontend 😊, Sil Governance, merge when green

#720 Feature - Add weave error parsing
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/ui-logic/src/index.ts
  packages/ui-logic/src/weave.spec.ts
  packages/ui-logic/src/weave.ts
  packages/ui-logic/types/index.d.ts
  packages/ui-logic/types/weave.d.ts
Labels: Sil Governance

#722 Fix #621 - Rename "Signup" route and component to "Create wallet"
  packages/bierzo-wallet/src/routes/balance/test/travelToBalance.ts
  packages/bierzo-wallet/src/routes/login/index.e2e.spec.ts
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/create-wallet/components/NewWalletForm.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/components/SecurityHintForm.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/components/ShowPhraseForm.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/test/operateCreateWallet.ts
  packages/sanes-browser-extension/src/routes/index.tsx
  packages/sanes-browser-extension/src/routes/paths.ts
  packages/sanes-browser-extension/src/routes/unlock/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/unlock/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/unlock/index.tsx
  packages/sanes-browser-extension/src/routes/welcome/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
  packages/sanes-browser-extension/src/utils/test/navigation.ts
  packages/sil-governance/src/routes/login/index.e2e.spec.ts
  packages/sil-governance/src/utils/test/persona.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Fix

#721 Feature #701 - Show unlock when wallet exists
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-browser-extension/src/context/PersonaProvider.tsx
  packages/sanes-browser-extension/src/index.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/test/operateCreateWallet.ts
  packages/sanes-browser-extension/src/routes/delete-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/test/operateRestoreWallet.ts
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/welcome/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/welcome/index.stories.tsx
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
  packages/sanes-browser-extension/src/utils/chrome/index.ts
  packages/sanes-browser-extension/src/utils/storybook/index.tsx
  packages/sanes-browser-extension/src/utils/test/dom.tsx
  packages/sanes-browser-extension/src/utils/test/navigation.ts
  packages/sil-governance/src/utils/test/persona.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊

#724 Feature #723 – Use blockchain clock for hasStarted
  CHANGELOG.md
  packages/medulas-react-components/src/components/forms/TextFieldForm/index.tsx
  packages/sil-governance/package.json
  packages/sil-governance/src/components/AsideFilter/index.tsx
  packages/sil-governance/src/components/BlockchainTime/index.stories.tsx
  packages/sil-governance/src/components/BlockchainTime/index.tsx
  packages/sil-governance/src/logic/boot.ts
  packages/sil-governance/src/routes/create-proposal/index.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/Period.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/TallyBar.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/ParticipationData.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/index.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-governance/src/routes/dashboard/index.dom.spec.ts
  packages/sil-governance/src/routes/dashboard/index.tsx
  packages/sil-governance/src/routes/login/index.tsx
  packages/sil-governance/src/store/blockchain/actions.ts
  packages/sil-governance/src/store/blockchain/index.ts
  packages/sil-governance/src/store/blockchain/reducer.ts
  packages/sil-governance/src/store/proposals/actions.ts
  packages/sil-governance/src/store/proposals/dummyData.ts
  packages/sil-governance/src/store/proposals/reducer.ts
  packages/sil-governance/src/store/reducers.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Sil Governance

#733 Feature #725 - Vote transaction view
  packages/sanes-browser-extension/src/routes/tx-request/components/ShowRequest/ReqVoteTx.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊

#734 Fix #732 – print vote; minor tx display improvements
  packages/sanes-browser-extension/src/routes/tx-request/components/ShowRequest/ReqVoteTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgCreateProposalTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgRegisterUsernameTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgSendTransaction.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgVoteTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/index.tsx
  packages/sil-governance/src/routes/dashboard/test/operateDashboard.ts
  packages/sil-governance/src/store/proposals/actions.ts
  packages/ui-logic/package.json
  packages/ui-logic/src/index.ts
  packages/ui-logic/src/votes.spec.ts
  packages/ui-logic/src/votes.ts
  packages/ui-logic/types/index.d.ts
  packages/ui-logic/types/votes.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: merge when green

#743 Fix #687 - Recovery Words terms inconsistency
  packages/medulas-react-components/src/components/Badge/index.stories.tsx
  packages/medulas-react-components/src/theme/assets/badgeIcon/recoveryWords.svg
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/create-wallet/components/ShowWordsForm.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/test/operateCreateWallet.ts
  packages/sanes-browser-extension/src/routes/delete-wallet/components/DeleteForm.tsx
  packages/sanes-browser-extension/src/routes/delete-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/index.tsx
  packages/sanes-browser-extension/src/routes/paths.ts
  packages/sanes-browser-extension/src/routes/recovery-phrase/test/operateRecoveryPhrase.ts
  packages/sanes-browser-extension/src/routes/recovery-words/assets/Muli-bold.js
  packages/sanes-browser-extension/src/routes/recovery-words/assets/Muli-normal.js
  packages/sanes-browser-extension/src/routes/recovery-words/components/PdfDownload.tsx
  packages/sanes-browser-extension/src/routes/recovery-words/components/ShowRecoveryWords.tsx
  packages/sanes-browser-extension/src/routes/recovery-words/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/recovery-words/index.stories.tsx
  packages/sanes-browser-extension/src/routes/recovery-words/index.tsx
  packages/sanes-browser-extension/src/routes/recovery-words/test/operateRecoveryWords.ts
  packages/sanes-browser-extension/src/routes/recovery-words/utils/pdfGenerator.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/components/SetMnemonicForm.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/test/operateRestoreWallet.ts
  packages/sanes-browser-extension/src/routes/unlock/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/assets/recoveryWords.svg
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/test/drawer.ts
  packages/sanes-browser-extension/src/utils/test/navigation.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Fix, merge when green

#738 Feature #726 - CreateProposal TX view
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/CreateTextResolution.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/ExecuteProposalBatch.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/ReleaseEscrow.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/Send.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/SetValidators.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/UpdateElectionRule.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/UpdateElectorate.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/index.stories.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ProposalActionType/index.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ShowRequest/ReqCreateProposalTx.tsx
  packages/sanes-browser-extension/src/routes/tx-request/components/ShowRequest/TransactionFee.tsx
  packages/sanes-browser-extension/src/routes/tx-request/index.stories.tsx
  packages/sanes-browser-extension/src/routes/tx-request/test/index.ts
  packages/sil-governance/src/routes/dashboard/components/Proposal/CollapsingData/DisplayOptions/ReleaseEscrow.tsx
  packages/ui-logic/src/index.ts
  packages/ui-logic/src/strings.spec.ts
  packages/ui-logic/src/strings.ts
  packages/ui-logic/types/index.d.ts
  packages/ui-logic/types/strings.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Frontend 😊, merge when green

#751 Fix #736 - Typo "ocurred" -> "occurred"
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/sil-governance/src/routes/login/index.tsx
Labels: Bierzo Wallet, Fix, Sil Governance, merge when green

#754 Feature #752 - Add chain id to the config file
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/logic/connection.ts
Labels: Bierzo Wallet, Feature, merge when green

#755 Feature #753 - Use expected chainId in chain connectors
  packages/bierzo-wallet/src/logic/connection.ts
Labels: Bierzo Wallet, Feature

#749 Feature #656 - Update Proposals Periodically
  packages/sil-governance/src/logic/boot.ts
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/Buttons.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-governance/src/routes/dashboard/index.tsx
  packages/sil-governance/src/routes/login/index.tsx
  packages/sil-governance/src/store/proposals/actions.ts
  packages/sil-governance/src/store/proposals/dummyData.ts
  packages/sil-governance/src/store/proposals/index.unit.spec.ts
  packages/sil-governance/src/store/proposals/reducer.ts
Labels: Frontend 😊, Sil Governance

#757 Feature - Refactor chain name configuration
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/sanes-browser-extension/config/development.json
  packages/sanes-browser-extension/config/production.json
  packages/sanes-browser-extension/config/staging.json
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sil-governance/src/config/development.json
  packages/sil-governance/src/config/index.ts
  packages/sil-governance/src/config/production.json
  packages/sil-governance/src/config/staging.json
Labels: Feature, merge when green

#760 Feature #668 - Improve Title Validation
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/create-proposal/components/TitleField.tsx
  packages/sil-governance/src/routes/dashboard/components/Proposal/Title.tsx
Labels: Frontend 😊, Sil Governance, merge when green

#764 Feature/#737 show ledger address prompt
  packages/bierzo-wallet/src/communication/extensionRpcEndpoint.ts
  packages/bierzo-wallet/src/communication/ledgerRpcEndpoint.ts
  packages/bierzo-wallet/src/communication/rpcEndpoint.ts
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.dom.spec.ts
  packages/bierzo-wallet/src/store/rpcendpoint/selectors.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Feature, merge when green

#765 Feature #731 - Limits Participation Percentage
  packages/sil-governance/src/routes/dashboard/components/Proposal/VotingPanel/ParticipationData.tsx
  packages/ui-logic/src/index.ts
  packages/ui-logic/src/number.spec.ts
  packages/ui-logic/src/number.ts
  packages/ui-logic/types/index.d.ts
  packages/ui-logic/types/number.d.ts
Labels: Frontend 😊, Sil Governance, merge when green

#771 Fix #769 - Fix Create Proposal transaction start date output
  packages/sanes-browser-extension/package.json
  packages/sanes-browser-extension/src/routes/tx-request/components/ShowRequest/ReqCreateProposalTx.tsx
  packages/sanes-browser-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/tx-request/test/index.ts
  packages/sanes-browser-extension/src/routes/tx-request/test/operateTXRequest.ts
Labels: Browser Extension, Fix

#779 Feature #715 - Full IOV Logo
  packages/sil-governance/src/assets/iov-logo-title.svg
  packages/sil-governance/src/components/Header/index.tsx
  packages/sil-governance/src/routes/dashboard/index.dom.spec.ts
  packages/sil-governance/src/routes/dashboard/test/operateDashboard.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance

#778 Feature #717 - Extract CSV Parser
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds/index.tsx
  packages/ui-logic/src/csv.spec.ts
  packages/ui-logic/src/csv.ts
  packages/ui-logic/src/index.ts
  packages/ui-logic/types/csv.d.ts
  packages/ui-logic/types/index.d.ts
Labels: Frontend 😊, Sil Governance, merge when green

#772 Feature #770 - Close extension on "accept"/"reject" incoming request
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/sanes-browser-extension/src/routes/share-identity/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/share-identity/index.tsx
  packages/sanes-browser-extension/src/routes/share-identity/test/operateShareIdentity.ts
  packages/sanes-browser-extension/src/routes/tx-request/components/RejectRequest.tsx
  packages/sanes-browser-extension/src/routes/tx-request/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/tx-request/index.tsx
  packages/sanes-browser-extension/src/routes/tx-request/test/operateTXRequest.ts
Labels: Browser Extension, Feature, merge when green

#766 Feature #282 - Sort Proposals Menu
  packages/sil-governance/src/routes/dashboard/components/Proposal/index.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/sil-governance/src/routes/dashboard/components/RenderedProposal.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Frontend 😊, Sil Governance, merge when green

#786 Fix# 774 - Fixes File Still Required when Correct
  packages/medulas-react-components/src/components/forms/TextField/index.tsx
  packages/medulas-react-components/types/components/forms/TextField/index.d.ts
  packages/sil-governance/src/routes/create-proposal/components/FormOptions/DistributeFunds/index.tsx
Labels: Frontend 😊, Sil Governance, merge when green
