Repository iov-one/ponferrada, pull requests merged in 2019-12, with the labels that each got.

#896 Feature #885 - Add Dancenet faucet
  packages/bierzo-wallet/src/config/staging.json
Labels: Bierzo Wallet, Feature

#899 Feature #897 - Wallet Username List
  packages/bierzo-wallet/src/logic/account.unit.spec.ts
  packages/bierzo-wallet/src/routes/addresses/components/AddressesTab.tsx
  packages/bierzo-wallet/src/routes/addresses/components/Starnames.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  scripts/bnsd/genesis_app_state.json
Labels: Bierzo Wallet

#904 Fix - Recepient address and transaction id layout
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
Labels: Bierzo Wallet, Fix

#903 Fix #871 - Do not show fee for incoming TX
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
Labels: Bierzo Wallet

#889 Feature #847 - Improvements to Wallet Status for Neuma
  packages/bierzo-wallet/src/utils/test/persona.ts
  packages/medulas-react-components/src/components/PopupCopy/index.tsx
  packages/medulas-react-components/src/components/forms/SelectField/index.tsx
  packages/medulas-react-components/types/components/PopupCopy/index.d.ts
  packages/medulas-react-components/types/components/forms/SelectField/index.d.ts
  packages/sanes-browser-extension/src/components/SimplePageLayout.tsx
  packages/sanes-browser-extension/src/context/PersonaProvider.tsx
  packages/sanes-browser-extension/src/extension/background/model/backgroundscript/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/collectibles/assets/award.svg
  packages/sanes-browser-extension/src/routes/collectibles/assets/chevronLeft.svg
  packages/sanes-browser-extension/src/routes/collectibles/assets/starname.svg
  packages/sanes-browser-extension/src/routes/collectibles/components/CollectibleItem.tsx
  packages/sanes-browser-extension/src/routes/collectibles/index.tsx
  packages/sanes-browser-extension/src/routes/create-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/index.tsx
  packages/sanes-browser-extension/src/routes/paths.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/unlock/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/assets/award.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/noCollectibles.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/noFunds.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/starname.svg
  packages/sanes-browser-extension/src/routes/wallet/components/Empty.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/EmptyList.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/ListCollectibles/CollectibleItem.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/ListCollectibles/ListContent.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/ListCollectibles/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/ListTokens/TokenItems.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/ListTokens/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/ListTxs.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/ListNavLink.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/ListNavView.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgCreateProposalTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgRegisterUsernameTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgSendTransaction.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/MsgVoteTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/Tx/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/test/operateWallet.ts
  packages/sanes-browser-extension/src/routes/welcome/index.stories.tsx
  packages/sil-governance/src/utils/test/persona.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension

#906 Fix #902 - Apply balance state payload without old state
  packages/bierzo-wallet/src/logic/balances.ts
  packages/bierzo-wallet/src/logic/balances.unit.spec.ts
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/balances/index.unit.spec.ts
  packages/bierzo-wallet/src/store/balances/reducer.ts
Labels: Bierzo Wallet, Fix

#907 Feature - #901 Cert Validity UI
  packages/bierzo-wallet/src/assets/greenTick.svg
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet

#908 Feature - #905 Removes Txs from extension
  packages/sanes-browser-extension/src/context/PersonaProvider.tsx
  packages/sanes-browser-extension/src/extension/background/model/backgroundscript/db/index.unit.spec.ts
  packages/sanes-browser-extension/src/extension/background/model/backgroundscript/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.unit.spec.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/extension/background/model/requestsHandler/index.requests.unit.spec.ts
  packages/sanes-browser-extension/src/extension/background/updaters/appUpdater.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/unlock/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/welcome/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension

#909 Feature #900 - Wallet route DOM and E2E tests
  packages/sanes-browser-extension/package.json
  packages/sanes-browser-extension/src/routes/wallet/index.e2e.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/test/operateWallet.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Feature

#912 Feature #900 - Fix wallet's route DOM tests
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/test/operateDeleteWallet.ts
  packages/sanes-browser-extension/src/routes/wallet/test/operateRequests.ts
Labels: Browser Extension, Fix

#915 Feature #910 - Upgrade Typescript to 3.7
  package.json
  packages/bierzo-wallet/src/components/Header/index.stories.tsx
  packages/bierzo-wallet/src/components/PageMenu/index.stories.tsx
  packages/bierzo-wallet/src/components/PageMenuColumn/index.stories.tsx
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/payment/index.stories.tsx
  packages/medulas-react-components/types/components/Button/Back.d.ts
  packages/sanes-browser-extension/src/extension/backgroundscript.ts
  packages/sanes-browser-extension/src/index.tsx
  packages/sanes-browser-extension/src/routes/unlock/index.e2e.spec.ts
  packages/sil-governance/src/config/index.ts
  yarn.lock
Labels: housekeeping 🧹

#917 Fix #916 - serialize-javascript dependency vulnerability
  packages/bierzo-wallet/package.json
  packages/sanes-browser-extension/package.json
  packages/sil-governance/package.json
  packages/valdueza-storybook/package.json
  yarn.lock
Labels: Fix

#921 Remove unnecessary awaits
  packages/bierzo-wallet/src/logic/transactions/index.ts
Labels: Bierzo Wallet, Fix

#920 Feature #895 - Starname screen titles and components renaming
  packages/bierzo-wallet/src/routes/addresses/components/AddressesTab.tsx
  packages/bierzo-wallet/src/routes/addresses/components/Iovnames.tsx
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/Starnames.tsx
  packages/bierzo-wallet/src/routes/addresses/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/test/operateReceivePayment.ts
  packages/bierzo-wallet/src/routes/addresses/test/travelToReceivePayment.ts
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Feature

#923 Feature #913 - List starnames on extension
  packages/sanes-browser-extension/src/context/PersonaProvider.tsx
  packages/sanes-browser-extension/src/extension/background/model/backgroundscript/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/restore-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/unlock/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/components/ListCollectibles/ListContent.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/ListCollectibles/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.tsx
  packages/sanes-browser-extension/src/routes/welcome/index.stories.tsx
Labels: Browser Extension

#924 Feature - Input Group component
  packages/medulas-react-components/src/components/forms/InputGroup/index.stories.tsx
  packages/medulas-react-components/src/components/forms/InputGroup/index.tsx
  packages/medulas-react-components/src/components/forms/SelectField/index.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/types/components/forms/InputGroup/index.d.ts
  packages/medulas-react-components/types/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Component, Feature

#926 Feature #911 - Adds starname.network domain
  packages/sanes-browser-extension/config/manifest-production.json
  packages/sanes-browser-extension/config/manifest-staging.json
Labels: Browser Extension

#928 Fix #919 - Adds conditional logic for address
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet

#929 Fix #703 - Adds check for lastError
  packages/bierzo-wallet/src/communication/extensionRpcEndpoint.ts
  packages/sil-governance/src/communication/identities/index.ts
  packages/sil-governance/src/communication/signandpost/index.ts
Labels: Bierzo Wallet, Sil Governance

#930 Fix #898 - Fixes SidePanel and removes Wallet errors
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/index.tsx
Labels: Bierzo Wallet

#931 Fix #918 - Governance Act errors in DOM tests
  packages/sil-governance/src/routes/create-proposal/test/travelToCreateProposal.ts
  packages/sil-governance/src/routes/dashboard/index.dom.spec.ts
  packages/sil-governance/src/routes/dashboard/test/travelToDashboard.ts
  packages/sil-governance/src/routes/show-electorate/index.dom.spec.ts
  packages/sil-governance/src/routes/show-electorate/test/travelToShowElectorate.ts
Labels: Sil Governance

#934 Feature #927 - Date picker improvements
  packages/medulas-react-components/package.json
  packages/medulas-react-components/src/components/forms/DateTimePicker/index.stories.tsx
  packages/medulas-react-components/src/components/forms/DateTimePicker/index.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/types/components/forms/DateTimePicker/index.d.ts
  packages/medulas-react-components/types/index.d.ts
  packages/sil-governance/src/routes/create-proposal/components/ProposalForm.tsx
  packages/sil-governance/src/routes/create-proposal/components/WhenField.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Component, Sil Governance, merge when green

#935 Feature #933 - Support update username targets in extension
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqUpdateTargetsOfUsernameTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/test/operateTXRequest.ts
Labels: Browser Extension

#925 Feature #895 - Register new iovname
  packages/bierzo-wallet/src/routes/addresses/components/Iovnames.tsx
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesExists.tsx
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/bierzo-wallet/src/routes/registerName/components/SelectAddressesTable.tsx
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/TxTableFooter/index.tsx
  packages/bierzo-wallet/src/routes/transactions/components/TxTable/rowTxBuilder.ts
  packages/bierzo-wallet/src/routes/transactions/index.tsx
  packages/bierzo-wallet/src/utils/tokens.ts
  packages/medulas-react-components/src/components/forms/SelectField/index.stories.tsx
  packages/medulas-react-components/src/components/forms/SelectField/index.tsx
  packages/medulas-react-components/types/components/forms/SelectField/index.d.ts
  packages/sil-governance/src/routes/create-proposal/components/CommitteeRulesSelect.tsx
  packages/sil-governance/src/routes/create-proposal/components/ProposalTypeSelect.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Feature

#937 Upgrade prettier to 1.19
  package.json
  packages/bierzo-wallet/src/components/AddressesTable/index.tsx
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  yarn.lock
Labels: merge when green

#940 Feature #895 - Update iovname
  packages/bierzo-wallet/src/communication/requestgenerators.ts
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesExists.tsx
  packages/bierzo-wallet/src/routes/registerName/components/SelectAddressesTable.tsx
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Feature

#941 Feature #922 - Improve amount column
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
  packages/ui-logic/src/balances.spec.ts
  packages/ui-logic/src/balances.ts
  packages/ui-logic/src/index.ts
  packages/ui-logic/types/balances.d.ts
  packages/ui-logic/types/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet
