Repository iov-one/ponferrada, pull requests merged in 2020-03, with the labels that each got.

#1042 Feature #1035 - Custom Chain IDs support
  CHANGELOG.md
  lerna.json
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/communication/requestgenerators.ts
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/routes/addresses/components/AddressesTab.tsx
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/Starnames.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/bierzo-wallet/src/routes/addresses/test/travelToReceivePayment.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/register/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/register/components/NameForm.tsx
  packages/bierzo-wallet/src/routes/register/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/register/index.tsx
  packages/bierzo-wallet/src/routes/registerName/assets/shield.svg
  packages/bierzo-wallet/src/routes/registerName/components/ConfirmRegistration.tsx
  packages/bierzo-wallet/src/routes/registerName/components/SelectAddressesTable.tsx
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/bierzo-wallet/src/utils/tokens.ts
  packages/sanes-browser-extension/package.json
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqRegisterAccountTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqRegisterDomainTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqReplaceAccountTargetsTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/index.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/valdueza-storybook/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet, Feature

#1047 Use temporary Chain IDs for Bitcoin and Litecoin
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
Labels: Bierzo Wallet, Fix, merge when green

#1050 Reverted Feature #1000 - Adds work in progress starnames view and registration
  CHANGELOG.md
  packages/bierzo-wallet/src/routes/addresses/components/AddressesTab.tsx
  packages/bierzo-wallet/src/routes/addresses/components/Starnames.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/registerStarName/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature

#1052 Reverted Feature #1001 - Starname Registration Flow
  packages/bierzo-wallet/src/communication/requestgenerators.ts
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/bierzo-wallet/src/routes/addresses/test/travelToReceivePayment.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/register/assets/shield.svg
  packages/bierzo-wallet/src/routes/register/components/ConfirmRegistration.tsx
  packages/bierzo-wallet/src/routes/register/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/register/components/NameForm.tsx
  packages/bierzo-wallet/src/routes/register/components/SelectAddressesTable.tsx
  packages/bierzo-wallet/src/routes/register/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/register/index.stories.tsx
  packages/bierzo-wallet/src/routes/register/index.tsx
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/bierzo-wallet/src/routes/registerStarName/index.tsx
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqRegisterAccountTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqRegisterDomainTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqReplaceAccountTargetsTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/index.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Feature

#1043 Adapt storybook stories to starnames
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/register/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/register/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/register/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Fix

#1063 Feature #1056 - Adds granularity for deployment in travis
  scripts/travis.sh
Labels: Do not merge

#1062 Feature #1011 - Transfer account
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/communication/requestgenerators.ts
  packages/bierzo-wallet/src/components/AccountEdit/index.tsx
  packages/bierzo-wallet/src/components/AccountManage/index.tsx
  packages/bierzo-wallet/src/components/AccountTransfer/index.stories.tsx
  packages/bierzo-wallet/src/components/AccountTransfer/index.tsx
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/logic/account.unit.spec.ts
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwReplaceAccountTargetsTx/ui/TransactionHeader/MsgSuccess.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/AssociatedNamesList.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/account/manage/index.stories.tsx
  packages/bierzo-wallet/src/routes/account/register/index.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/ConfirmTransfer.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/IovnameTransfer.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/NameTransfer.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/StarnameTransfer.tsx
  packages/bierzo-wallet/src/routes/account/transfer/index.stories.tsx
  packages/bierzo-wallet/src/routes/account/transfer/index.tsx
  packages/bierzo-wallet/src/routes/account/update/index.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/store/accounts/actions.ts
  packages/bierzo-wallet/src/store/accounts/index.unit.spec.ts
  packages/bierzo-wallet/src/store/accounts/reducer.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
  packages/bierzo-wallet/src/store/usernames/reducer.ts
  packages/bierzo-wallet/src/utils/tokens.ts
  packages/bierzo-wallet/src/utils/transaction.ts
  packages/sanes-browser-extension/package.json
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqTransferUsernameTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/index.tsx
  packages/sil-governance/package.json
  packages/ui-logic/package.json
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Labels: Bierzo Wallet, Feature

#1073 Feature #1070 - Support e-Money
  CHANGELOG.md
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
Labels: Bierzo Wallet

#1078 Feature #1030 - Fix registration validation
  packages/bierzo-wallet/src/components/AccountEdit/index.stories.tsx
  packages/bierzo-wallet/src/components/AccountEdit/index.tsx
  packages/bierzo-wallet/src/routes/account/register/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/account/register/components/NameForm.tsx
  packages/bierzo-wallet/src/routes/account/register/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/account/register/index.stories.tsx
  packages/bierzo-wallet/src/routes/account/register/index.tsx
  packages/bierzo-wallet/src/routes/account/update/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/account/update/components/NameForm.tsx
  packages/bierzo-wallet/src/routes/account/update/index.stories.tsx
  packages/bierzo-wallet/src/routes/account/update/index.tsx
  packages/bierzo-wallet/src/routes/policy/components/index.tsx
  packages/bierzo-wallet/src/routes/terms/components/index.tsx
  packages/bierzo-wallet/src/routes/terms/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  packages/valdueza-storybook/src/config/test.json
  packages/valdueza-storybook/src/setupTests.js
Labels: Bierzo Wallet
