Repository iov-one/ponferrada, pull requests merged in 2020-04, with the labels that each got.

#1090 Fix #1086 - Wrong redirect data on cancel.
  packages/bierzo-wallet/src/routes/account/delete/components/NameDelete.tsx
  packages/bierzo-wallet/src/routes/account/index.ts
  packages/bierzo-wallet/src/routes/account/manage/components/AssociatedNamesList.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/account/manage/index.stories.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/NameTransfer.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/NameTransferBack.tsx
  packages/bierzo-wallet/src/routes/account/update/components/NameForm.tsx
Labels: Bierzo Wallet, bug

#1084 Fix #1075 - New transactions badge visual bug.
  packages/bierzo-wallet/src/components/Header/components/LinksMenu/index.tsx
  packages/medulas-react-components/src/components/Badge/index.tsx
  scripts/bnsd/start.sh
Labels: Bierzo Wallet, bug

#1092 Feature #1072 - Adds e2e tests for starnames
  packages/bierzo-wallet/src/components/AccountDelete/index.stories.tsx
  packages/bierzo-wallet/src/components/AccountDelete/index.tsx
  packages/bierzo-wallet/src/components/AccountEdit/SelectAddressesTable.tsx
  packages/bierzo-wallet/src/components/AccountManage/index.tsx
  packages/bierzo-wallet/src/components/AccountOperation/index.stories.tsx
  packages/bierzo-wallet/src/components/AccountOperation/index.tsx
  packages/bierzo-wallet/src/components/AccountRenew/index.stories.tsx
  packages/bierzo-wallet/src/components/AccountRenew/index.tsx
  packages/bierzo-wallet/src/components/AccountTransfer/index.stories.tsx
  packages/bierzo-wallet/src/components/AccountTransfer/index.tsx
  packages/bierzo-wallet/src/components/AddressesTable/index.tsx
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/routes/account/delete/components/NameDelete.tsx
  packages/bierzo-wallet/src/routes/account/delete/components/StarnameDelete.tsx
  packages/bierzo-wallet/src/routes/account/delete/index.stories.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/AssociatedNamesList.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/NameForm.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/account/renew/components/StarnameRenew.tsx
  packages/bierzo-wallet/src/routes/account/renew/index.stories.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/IovnameTransfer.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/NameTransfer.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/NameTransferBack.tsx
  packages/bierzo-wallet/src/routes/account/transfer/components/StarnameTransfer.tsx
  packages/bierzo-wallet/src/routes/account/transfer/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.e2e.spec.ts
  packages/bierzo-wallet/src/store/accounts/reducer.ts
  packages/bierzo-wallet/src/utils/test/e2e.ts
  packages/medulas-react-components/src/components/ActionMenu/index.tsx
  packages/medulas-react-components/types/components/ActionMenu/index.d.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet

#1100 Feature #1097 - Transaction screen. Unknown tx
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwTransferUsernameTx/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwTransferUsernameTx/ui/TransactionHeader/MsgSuccess.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwTransferUsernameTx/ui/TransactionHeader/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwTransferUsernameTx/ui/TransactionRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwTransferUsernameTx/ui/TransactionRow/index.tsx
Labels: Bierzo Wallet, Feature

#1101 Fix - Update list of starnames/names runtime
  packages/bierzo-wallet/src/logic/transactions/index.ts
Labels: Bierzo Wallet, Fix

#1102 Fix - Transfer starname/name list update test.
  packages/bierzo-wallet/src/routes/addresses/index.e2e.spec.ts
Labels: Bierzo Wallet, Fix

#1106 Feature #1054 - Add more chain ids
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/production.json
  packages/bierzo-wallet/src/config/staging.json
Labels: Bierzo Wallet, Feature

#1108 Feature #1104 - Do not show expiration date on names
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesExists.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet, Fix, merge when green

#1115 Feature #1110 - Improve wallet error messages
  packages/bierzo-wallet/src/routes/account/register/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/account/register/components/NameForm.tsx
  packages/bierzo-wallet/src/routes/account/register/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/account/update/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/account/update/components/NameForm.tsx
  packages/bierzo-wallet/src/routes/login/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/utils/transaction.ts
  scripts/bnsd/genesis_app_state.json
Labels: Bierzo Wallet

#1117 Feature #1113 - Merge menu bars
  packages/bierzo-wallet/src/components/Header/components/LinksMenu/index.tsx
  packages/bierzo-wallet/src/routes/account/manage/components/AssociatedNamesList.tsx
  packages/bierzo-wallet/src/routes/addresses/components/AddressesTab.tsx
  packages/bierzo-wallet/src/routes/addresses/components/Iovnames.tsx
  packages/bierzo-wallet/src/routes/addresses/components/Starnames.tsx
  packages/bierzo-wallet/src/routes/addresses/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/bierzo-wallet/src/routes/addresses/test/operateAddresses.ts
  packages/bierzo-wallet/src/routes/addresses/test/operateReceivePayment.ts
  packages/bierzo-wallet/src/routes/addresses/test/travelToReceivePayment.ts
  packages/bierzo-wallet/src/routes/balance/components/index.tsx
  packages/bierzo-wallet/src/routes/balance/index.dom.spec.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/iovnames/components/IovnamesExists.tsx
  packages/bierzo-wallet/src/routes/iovnames/components/IovnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/iovnames/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/iovnames/index.stories.tsx
  packages/bierzo-wallet/src/routes/iovnames/index.tsx
  packages/bierzo-wallet/src/routes/iovnames/test/operateIovnames.ts
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/starnames/components/StarnamesExists.tsx
  packages/bierzo-wallet/src/routes/starnames/components/StarnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/starnames/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/starnames/index.stories.tsx
  packages/bierzo-wallet/src/routes/starnames/index.tsx
  packages/bierzo-wallet/src/routes/starnames/test/operateStarnames.ts
  packages/bierzo-wallet/src/routes/transactions/index.e2e.spec.ts
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet

#1116 Mock a connection to a network
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/config/development.json
  packages/bierzo-wallet/src/config/index.ts
  packages/bierzo-wallet/src/config/staging.json
  packages/bierzo-wallet/src/logic/codec.ts
  packages/bierzo-wallet/src/logic/connection.ts
  packages/bierzo-wallet/src/logic/connection.unit.spec.ts
  packages/sanes-browser-extension/config/development.json
  packages/sanes-browser-extension/config/staging.json
  packages/sanes-browser-extension/package.json
  packages/sanes-browser-extension/src/extension/background/model/persona/config/codec.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/config/mockstar1chain.ts
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/test/operateDrawer.ts
  packages/sanes-browser-extension/src/routes/wallet/test/operateShareIdentity.ts
  packages/sanes-browser-extension/src/routes/wallet/test/operateTXRequest.ts
  yarn.lock
Labels: Do not merge, WIP
