Repository iov-one/ponferrada, pull requests merged in 2020-02, with the labels that each got.

#1009 Feature #1000 - Adds work in progress starnames view and registration
  packages/bierzo-wallet/src/routes/addresses/components/AddressesTab.tsx
  packages/bierzo-wallet/src/routes/addresses/components/Starnames.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/registerStarName/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Bierzo Wallet

#1019 Improve linting 💅
  .eslintrc.js
  .travis.yml
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/routes/transactions/index.stories.tsx
  packages/sanes-browser-extension/src/extension/background/model/backgroundscript/index.ts
  packages/sanes-browser-extension/src/routes/wallet/test/operateDrawer.ts
  packages/sil-governance/src/logic/connection.ts
Labels: merge when green

#1024 Upgrade IOV Core to 2.0.2
  .eslintrc.js
  CHANGELOG.md
  packages/bierzo-wallet/package.json
  packages/bierzo-wallet/src/logic/balances.ts
  packages/bierzo-wallet/src/logic/connection.unit.spec.ts
  packages/bierzo-wallet/src/logic/faucet.ts
  packages/bierzo-wallet/src/logic/transactions/index.ts
  packages/bierzo-wallet/src/store/balances/actions.ts
  packages/bierzo-wallet/src/store/tokens/actions.ts
  packages/bierzo-wallet/src/store/usernames/actions.ts
  packages/sanes-browser-extension/package.json
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.unit.spec.ts
  packages/sil-governance/package.json
  packages/sil-governance/src/communication/identities/index.ts
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/ui-logic/package.json
  scripts/bnsd/deploy_proposals.js
  yarn.lock
Labels: merge when green

#1028 Feature #1001 - Starname Registration Flow
  packages/bierzo-wallet/src/communication/requestgenerators.ts
  packages/bierzo-wallet/src/logic/account.ts
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/IovnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/components/StarnamesNotExists.tsx
  packages/bierzo-wallet/src/routes/addresses/index.stories.tsx
  packages/bierzo-wallet/src/routes/addresses/index.tsx
  packages/bierzo-wallet/src/routes/addresses/test/travelToReceivePayment.ts
  packages/bierzo-wallet/src/routes/balance/index.stories.tsx
  packages/bierzo-wallet/src/routes/balance/index.tsx
  packages/bierzo-wallet/src/routes/balance/test/operateBalances.ts
  packages/bierzo-wallet/src/routes/index.tsx
  packages/bierzo-wallet/src/routes/paths.ts
  packages/bierzo-wallet/src/routes/payment/components/ReceiverAddress/index.tsx
  packages/bierzo-wallet/src/routes/payment/index.tsx
  packages/bierzo-wallet/src/routes/register/assets/shield.svg
  packages/bierzo-wallet/src/routes/register/components/ConfirmRegistration.tsx
  packages/bierzo-wallet/src/routes/register/components/IovnameForm.tsx
  packages/bierzo-wallet/src/routes/register/components/NameForm.tsx
  packages/bierzo-wallet/src/routes/register/components/SelectAddressesTable.tsx
  packages/bierzo-wallet/src/routes/register/components/StarnameForm.tsx
  packages/bierzo-wallet/src/routes/register/index.stories.tsx
  packages/bierzo-wallet/src/routes/register/index.tsx
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
  packages/bierzo-wallet/src/routes/registerStarName/index.tsx
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqRegisterAccountTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqRegisterDomainTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/ReqReplaceAccountTargetsTx.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Requests/ShowRequest/SignAndPostTx/ShowTx/index.tsx
  packages/sil-governance/src/routes/dashboard/components/ProposalsList.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
  scripts/bnsd/genesis_app_state.json
  scripts/bnsd/start.sh
  yarn.lock
Labels: Bierzo Wallet, Browser Extension, Sil Governance
