Repository iov-one/ponferrada, pull requests merged in 2020-01, with the labels that each got.

#945 Fix - Upgrades lerna to 3.20.0 to upgrade handlebars
  lerna.json
  package.json
  yarn.lock
Labels: Fix, dependencies

#948 Feature #946 - Improve network list
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Networks.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
Labels: Browser Extension

#953 Fix extension link for the Google Store
  packages/bierzo-wallet/src/config/staging.json
Labels: Bierzo Wallet, Fix

#954 Feature #895 - Add E2E tests
  packages/bierzo-wallet/src/routes/addresses/index.e2e.spec.ts
  packages/bierzo-wallet/src/routes/addresses/test/operateReceivePayment.ts
  packages/bierzo-wallet/src/routes/addresses/test/travelToReceivePayment.ts
  packages/bierzo-wallet/src/routes/registerName/components/index.tsx
Labels: Bierzo Wallet, Feature

#952 Feature #955 - Make Neuma work with downed nodes
  CHANGELOG.md
  packages/sanes-browser-extension/src/context/PersonaProvider.tsx
  packages/sanes-browser-extension/src/extension/background/model/backgroundscript/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/unlock/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/assets/bulletPointGreen.svg
  packages/sanes-browser-extension/src/routes/wallet/assets/bulletPointRed.svg
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Networks.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.tsx
  packages/sanes-browser-extension/src/routes/welcome/index.stories.tsx
Labels: Browser Extension

#968 Fixes "Add more" chains in edit addresses view
  packages/bierzo-wallet/src/routes/registerName/components/SelectAddressesTable.tsx
Labels: Bierzo Wallet, Fix

#969 Adds check for "gasPrice" field if no "tokens" field
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/Details.tsx
Labels: Bierzo Wallet, Fix

#971 Feature #958 - Adds tx type for update username targets
  packages/bierzo-wallet/src/logic/transactions/types/BwParserFactory.ts
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/ui/TransactionHeader/MsgSuccess.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/ui/TransactionHeader/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/ui/TransactionRow/Details.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/ui/TransactionRow/index.tsx
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/ui/assets/dropdownArrow.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/ui/assets/dropdownArrowClose.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/ui/assets/transactionSend.svg
  packages/bierzo-wallet/src/logic/transactions/types/BwUpdateUsernameTargetsTx/ui/assets/user.svg
Labels: Bierzo Wallet

#970 Feature #947 - Edit ability to edit IOV RPC node
  CHANGELOG.md
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/index.ts
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/ChangeNetwork.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Menu.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Networks.tsx
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.dom.spec.ts
  packages/sanes-browser-extension/src/utils/localstorage/bnsRpc.ts
Labels: Browser Extension, Feature

#974 Feature #947 - Do not allow to change RPC URL in production
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Networks.tsx
Labels: Browser Extension, Feature

#978 Fix #975 - Adds same tokenTicket check
  packages/bierzo-wallet/src/logic/transactions/types/BwSendTransaction/ui/SendTxRow/index.tsx
Labels: Bierzo Wallet, Fix

#977 Feature #966 - Displays amount string as locale
  packages/sanes-browser-extension/src/routes/wallet/index.e2e.spec.ts
  packages/ui-logic/src/balances.spec.ts
  packages/ui-logic/src/balances.ts
Labels: Bierzo Wallet

#979 Fix #976 - Validate fractional digits
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/medulas-react-components/src/index.ts
  packages/medulas-react-components/src/utils/forms/validators/index.ts
  packages/medulas-react-components/types/index.d.ts
  packages/medulas-react-components/types/utils/forms/validators/index.d.ts
Labels: Bierzo Wallet, Fix

#982 Fix cancel button behavior
  packages/bierzo-wallet/src/routes/registerName/components/ConfirmRegistration.tsx
  packages/bierzo-wallet/src/routes/registerName/index.stories.tsx
  packages/bierzo-wallet/src/routes/registerName/index.tsx
Labels: Bierzo Wallet, Fix

#983 Feature #957 - Disable memo in ERC20 token payment
  packages/bierzo-wallet/src/routes/payment/components/CurrencyToSend/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/TextNote/index.tsx
  packages/bierzo-wallet/src/routes/payment/components/index.tsx
Labels: Bierzo Wallet, Feature, merge when green

#984 Fix #973 - Makes use of all txs for paginating
  packages/bierzo-wallet/src/routes/transactions/index.tsx
Labels: Bierzo Wallet, Fix

#985 Adds new changelog
  CHANGELOG.md
Labels: housekeeping 🧹

#986 Upgrades caniuse-lite
  yarn.lock
Labels: housekeeping 🧹

#987 Fix - Improve production detection
  packages/sanes-browser-extension/config/production.json
  packages/sanes-browser-extension/src/extension/background/model/persona/config/configurationfile.ts
  packages/sanes-browser-extension/src/routes/wallet/components/SidePanel/PanelDrawer/components/Networks.tsx
Labels: Browser Extension, Fix

#989 Feature #988 - Adds extension policy link
  packages/sanes-browser-extension/src/routes/paths.ts
  packages/sanes-browser-extension/src/routes/welcome/index.dom.spec.ts
  packages/sanes-browser-extension/src/routes/welcome/index.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension

#995 Fix #962 - Remove delay on extensions start
  packages/sanes-browser-extension/src/context/PersonaProvider.tsx
  packages/sanes-browser-extension/src/extension/background/model/backgroundscript/index.ts
  packages/sanes-browser-extension/src/extension/background/model/persona/test/persona.ts
  packages/sanes-browser-extension/src/routes/create-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/restore-wallet/index.tsx
  packages/sanes-browser-extension/src/routes/unlock/index.tsx
  packages/sanes-browser-extension/src/routes/wallet/index.stories.tsx
  packages/sanes-browser-extension/src/routes/welcome/index.stories.tsx
  packages/valdueza-storybook/src/__snapshots__/Storyshots.test.js.snap
Labels: Browser Extension, Fix
